{% extends 'base.html' %}
{% load staticfiles %}
{% block styles %}
    <link href="{% static 'assets/plugins/datatables/jquery.dataTables.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/plugins/bootstrap-select/dist/css/bootstrap-select.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/plugins/switchery/dist/switchery.min.css' %}" rel="stylesheet">
    {% block extra_styles %}
    {% endblock extra_styles %}
{% endblock %}
{% block head_title %}Профиль{% endblock %}
{% block content %}
    {% include 'menu.html' %}
    <div class="my-profile-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-3 p-0">
                    <div class="my-profile-img">
                        <div style="background:url('{% if user.profile.photo %}/media/{{ user.profile.photo }}{% else %}{% static 'images/user.png' %}{% endif %}') no-repeat center;background-size:cover"></div>
                    </div>
                    <div class="my-profile-detail card-box m-t-5">
                        <h4 class="m-t-0 header-title"><b>Личная информация</b></h4>
                        <div class="p-20">
                            <div class="about-info-p">
                                <strong>ФИО</strong>
                                <br>
                                <p class="text-muted fio">{{ request.user.first_name }} {{ request.user.last_name }}</p>
                            </div>
                            <div class="about-info-p">
                                <strong>Телефон</strong>
                                <br>
                                <p class="text-muted">{{ request.user.profile.phone }}</p>
                            </div>
                            <div class="about-info-p m-b-0">
                                <strong>Email</strong>
                                <br>
                                <p class="text-muted">{{ request.user.email }}</p>
                            </div>
                            {% if request.user.profile.partner %}
                                <div class="about-info-p m-b-0">
                                    <strong>Партнёр</strong>
                                    <br>
                                    <p class="text-muted">{{ request.user.profile.partner|yesno:'Да, Нет' }}</p>
                                </div>
                                <div class="about-info-p m-b-0">
                                    <strong>Регион</strong>
                                    <br>
                                    <p class="text-muted">{{ request.user.profile.region }}</p>
                                </div>
                                {% endif %}
                        {% if request.user.profile.super_moderator %}
                                <div class="about-info-p m-b-0">
                                    <strong>Супермодератор</strong>
                                    <br>
                                    <p class="text-muted">{{ request.user.profile.super_moderator|yesno:'Да, Нет' }}</p>
                                </div>
                            {% endif %}
                            <div class="about-info-p m-b-0">
                                <strong>Баланс</strong>
                                <br>
                                <p class="text-muted">{{ request.user.profile.balance }} руб</p>
                            </div>
                        </div>
                        <a class="my-round-btn orange btn btn-rounded waves-effect waves-light"
                           href="{% url 'profile:update' %}" title="Редактировать"><i class="icon-settings"></i></a>
                        <hr class="m-t-0">
                        <div class="my-profile-btn-wrap">
                            <a class="orange btn btn-danger red waves-effect waves-light"
                               href="{% url 'account_change_password' %}" title="Сменить пароль"><span
                                    class="btn-label"><i class="fa fa-lock"></i></span>Сменить пароль</a>
                            <a href="javascript:void(0)" class="btn btn-default waves-effect waves-light m-t-10"
                               data-toggle="modal" data-target="#up_your_balance"><span class="btn-label"><i
                                    class="fa fa-rub"></i></span>Пополнить баланс</a>
                            <a class="btn btn-default waves-light waves-effect m-t-10" href="{% url 'advert_create' %}"><span
                                    class="btn-label"><i class="fa fa-plus"></i></span>Подать объявление</a>
                            {% if not request.user.shop %}
                                <a class="btn btn-default waves-light waves-effect m-t-10"
                                   href="{% url 'shop_create' %}">
                                    <span class="btn-label"><i class="fa fa-plus"></i></span>Создать магазин
                                </a>
                            {% else %}
                                <div class="m-t-10">
                                    {% if request.user.shop.active_days < 7 or not request.user.shop.paid %}
                                        <a class="btn btn-warning waves-light waves-effect"
                                           title="Срок действия магазина заканчивается"
                                           href="{% url 'shop_detail' alias=request.user.shop.alias %}"><span
                                                class="btn-label"><i
                                                class="fa fa-warning"></i></span> Мой магазин</a>
                                    {% else %}
                                        <a class="btn btn-default waves-light waves-effect"
                                           href="{% url 'shop_detail' alias=request.user.shop.alias %}"><span
                                                class="btn-label"><i
                                                class="ion-ios7-cart"></i></span> Мой магазин</a>
                                    {% endif %}
                                    {% if request.user.shop.paid and request.user.shop.active_days > 0 %}
                                        <div style="margin-left: 10px; display: inline-block">
                                            <input id="shop_status" type="checkbox"
                                                   {% if request.user.shop.status == 'open' %}checked{% endif %}
                                                   data-plugin="switchery" data-color="#0cb863">
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-md-9 p-0">
                    <div class="my-profile-view m-l-5">
                        <div class="row">
                            <div class="col-md-12 p-0">

                                {% block profile_content %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if user.billboards.all %}
        {% if user.profile.balance < settings_advert %}
            <div class="pay_notify bg-warning">
                <p>
                    <i class="fa fa-warning"></i>

                    <b>Внимание!</b>
                </p>
                <p>У Вас заканчивается баланс! При низком балансе Ваши рекламные блоки не будут отображаться.</p>
                <a class="btn btn-default waves-effect waves-light" href="#!" data-toggle="modal"
                   data-target="#up_your_balance"><i
                        class='fa fa-rouble m-r-10'></i>
                    Пополнить баланс</a>
                <span class="close_notify" style="position: absolute; top: 5px; right: 10px; cursor: pointer;"><b>X</b></span>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
{% block scripts %}
<script src="{% static 'assets/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'assets/plugins/datatables/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'assets/plugins/bootstrap-filestyle/src/bootstrap-filestyle.min.js' %}"></script>
    <script src="{% static 'assets/plugins/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'assets/plugins/notifyjs/dist/notify.min.js' %}"></script>
    <script src="{% static 'assets/plugins/notifications/notify-metro.js' %}"></script>
    <script src="{% static 'assets/plugins/switchery/dist/switchery.min.js' %}"></script>
    {% block extra_scripts %}{% endblock %}
{% endblock %}
