{% extends 'profile_base.html' %}
{% load staticfiles %}
{% load filters %}
{% block extra_styles %}
    <link href="{% static 'assets/plugins/magnific-popup/dist/magnific-popup.css' %}" rel="stylesheet">
{% endblock %}
{% block profile_content %}
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#my-profile" data-toggle="tab" aria-expanded="false">
                <span class="visible-xs"><i class="fa fa-home"></i></span>
                <span class="hidden-xs">Личный кабинет</span>
            </a>
        </li>
        {% if user.profile.partner or user.profile.super_moderator %}
            <li>
                <a href="#my-partner" data-toggle="tab" aria-expanded="true">
                    <span class="visible-xs"><i class="fa fa-user"></i></span>
                    <span class="hidden-xs" style="position: relative">Партнерский кабинет
                        {% if m.adverts and billboards %}<span
                                class="badge badge-xs badge-danger notify_counter"
                                style="position:absolute;top:-5px;left:100%">{{ m_adverts.count|add:billboards.count }}</span>
                            </span>
                        {% endif %}
                </a>
            </li>
        {% endif %}
        <li class="messages-wrapper">
            <a href="#my-messages" data-toggle="tab" aria-expanded="false">
                <span class="visible-xs"><i class="fa fa-envelope-o"></i></span>
                <span class="hidden-xs" style="position:relative">Сообщения<span
                        class="badge badge-xs badge-danger message_counter"
                        style="position:absolute;top:-5px;right:-15px"></span></span>
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="my-profile">
            <div class="my-profile-ads">
                <div class="panel-group" id="personal-tabs">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#personal-tabs"
                                   href="#personal-tab-one" class="collapsed">
                                    <i class="fa fa-clone m-r-10"></i> Мои объявления
                                </a>
                            </h4>
                        </div>
                        <div id="personal-tab-one" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <table id="datatable" class="table table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Заголовок</th>
                                        <th>Стоимость</th>
                                        <th>Дата</th>
                                        <th>Статус</th>
                                        <th>Показ</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for advert in object.advert.all %}
                                        <tr id="advert{{ advert.pk }}">
                                            <td><a title="Детали"
                                                   href="{% url 'advert_detail' url_name=advert.url_name pk=advert.pk %}">{{ advert.title }}</a>
                                            </td>
                                            <td data-cost="{{ advert.cost }}" class="cost"></td>
                                            <td>{{ advert.date }}</td>
                                            {% if advert.status == 'accepted' %}
                                                <td style="color: white;"
                                                    class="bg-success clearfix">{{ advert.get_status_display }}
                                                    <span class="pull-right"><i
                                                            class="fa fa-check"></i></span>
                                                </td>
                                            {% elif advert.status == 'rejected' %}
                                                <td data-text="{{ advert.solve_reject_text }}"
                                                    style="position: relative;color: white;"
                                                    class="bg-danger clearfix rejected">{{ advert.get_status_display }}
                                                    <span class="pull-right"><i
                                                            class="fa fa-exclamation-triangle"
                                                            aria-hidden="true"></i></span>
                                                    <div class="rejected_text bg-danger"><p
                                                            style="padding: 5px">{{ advert.solve_reject_text }}</p>
                                                    </div>
                                                </td>
                                            {% else %}
                                                <td style="color: white;"
                                                    class="bg-warning clearfix">{{ advert.get_status_display }}
                                                    <span class="pull-right"><i
                                                            class="fa fa-cogs"></i></span>
                                                </td>
                                            {% endif %}
                                            <td class="text-center action_buttons">
                                                                            <span class="show m-r-10"
                                                                                  style="display: inline-block !important">
                                                                                {% if advert.show %}
                                                                                    <span title="Остановить показ"
                                                                                          data-pk="{{ advert.pk }}"
                                                                                          data-status="false"
                                                                                          class="text-success advert_show"><i
                                                                                            class="fa fa-pause"></i></span>
                                                                                {% else %}
                                                                                    <span title="Продолжить показ"
                                                                                          data-pk="{{ advert.pk }}"
                                                                                          data-status="true"
                                                                                          class="text-warning advert_show"><i
                                                                                            class="fa fa-play"></i></span>
                                                                                {% endif %}
                                                                            </span>
                                                <span class="advert_delete"
                                                      style="display: inline-block;"
                                                      data-pk="{{ advert.pk }}">
                                                                                <span title="Удалить объявление"
                                                                                      class="text-danger"><i
                                                                                        class="fa fa-trash"></i></span>
                                                                            </span>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="{% url 'billboard_create' %}">
                                    <i class="fa fa-plus-square m-r-15"></i> Добавить рекламу на сайт
                                </a>
                            </h4>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a
                                        href="{% url 'billboard_list' %}" class="collapsed">
                                    <i class="fa fa-newspaper-o m-r-10"></i> Мои рекламные блоки
                                </a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="my-partner">
            <div class="my-profile-admins">
                <div class="panel-group" id="partner-tabs">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#partner-tabs"
                                   href="#partner-tab-one" class="collapsed">
                                    <i class="fa fa-ban m-r-10"></i> Объявления на модерации
                                </a>
                            </h4>
                        </div>
                        <div id="partner-tab-one" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <table id="datatable_2" class="table table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Заголовок</th>
                                        <th>Стоимость</th>
                                        <th>Дата</th>
                                        <th><i class="icon-settings"></i></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for advert in m_adverts %}
                                        <tr>
                                            <td><a title="Детали"
                                                   href="{% url 'advert_detail' url_name=advert.url_name pk=advert.pk %}">{{ advert.title }}</a>
                                            </td>
                                            <td data-cost="{{ advert.cost }}" class="cost"></td>
                                            <td>{{ advert.date }}</td>
                                            <td>
                                                <a title="Детали"
                                                   href="{% url 'advert_detail' url_name=advert.url_name pk=advert.pk %}"><i
                                                        class="glyphicon glyphicon-eye-open"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#partner-tabs"
                                   href="#partner-tab-two">
                                    <i class="fa fa-ban m-r-10"></i> Рекламные блоки на модерации
                                </a>
                            </h4>
                        </div>
                        <div id="partner-tab-two" class="panel-collapse collapse">
                            <div class="panel-body">
                                <table id="datatable_3" class="table table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Изображение</th>
                                        <th>Ссылка</th>
                                        <th>Пользователь</th>
                                        <th><i class="icon-settings"></i></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for billboard in billboards %}
                                        <tr class="b_{{ billboard.id }}">
                                            <td><a class="image-popup" href="{{ billboard.image.url }}"><img class="table-img"
                                                     src="{{ billboard.image.url }}" alt=""></a></td>
                                            <td>{{ billboard.link }}</td>
                                            <td class="bill-status">{{ billboard.user.username }}</td>
                                            <td style="text-align: center">
                                                <i class="fa fa-check accept"
                                                   data-id="{{ billboard.id }}" title="Разрешить"
                                                   style="cursor:pointer; color: green; padding: 5px;"></i>
                                                <i class="fa fa-ban reject" data-id="{{ billboard.id }}"
                                                   title="запретить"
                                                   style="cursor: pointer; color: red; padding: 5px;"></i>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="my-messages">
            {% if groups %}
                <div class="chats tabs-vertical-env m-0">
                    <ul class="chat-users nav tabs-vertical">
                        {% for group in groups %}
                            {% if not group.group.last.read and group.group.last.user != request.user %}
                                <li data-id="{{ group.id }}"
                                    class="chat-user-item not_read">
                                    <div class="notify"
                                         style="z-index: 1;position: absolute; right: 5px; top: 4px; width: 8px; height: 8px; background-color: orange; border-radius: 50%"></div>
                                    {% else %}
                                <li data-id="{{ group.id }}" class="chat-user-item">
                            {% endif %}
                        <a class="clearfix" href="#chat_{{ group.id }}"
                           data-toggle="tab" aria-expanded="false">
                            {% for user in group.users.all %}
                                {% if user != request.user %}
                                    <span class="chat-user-img img-circle"
                                          style="
                                                  background:url('
                                                  {% if user.profile.photo %}{{ user.profile.photo.url }}{% else %}{% static 'images/user.png' %}{% endif %}')
                                                  no-repeat center;
                                                  background-size:cover">

                                                                </span>
                                    <span class="chat-user-name">{{ user.first_name }} {{ user.last_name }}</span>
                                {% endif %}
                            {% endfor %}
                        </a>
                        </li>
                        {% endfor %}
                    </ul>
                    <div class="chat-messages tab-content">
                        {% for group in groups %}
                            <div class="tab-pane clearfix chat-block"
                                 id="chat_{{ group.id }}">
                                <div class="messages-block">
                                    {% for message in group.group.all %}
                                        {% ifchanged message.user %}
                                            <div class="message-inner {% if message.user_id == user.id %}answer{% else %}question{% endif %} clearfix">
                                            <div class="user-info">
                                                {% if user == message.user %}
                                                    <span>Я</span>
                                                {% else %}
                                                    <span>{{ message.user.first_name }} {{ message.user.last_name }}</span>
                                                {% endif %}
                                            </div>
                                            <div class="messages">
                                        {% endifchanged %}
                                    <p class="{% if message.user != request.user and not message.read %}read{% endif %}">{{ message.message }}
                                        <span
                                                class="chat-date">{{ message.date }}</span></p>
                                    {% with next_message=group.group.all|next:forloop.counter0 %}
                                        {% if next_message.user != message.user %}
                                            </div>
                                            </div>
                                        {% endif %}
                                    {% endwith %}
                                    {% endfor %}
                                </div>
                                <form class="chat-buttons"
                                      action="{% url 'profile:send_message' %}"
                                      method="post">
                                    {% csrf_token %}
                                    <div class="form-group m-0">
                                        <div class="row m-0">
                                            <div class="col-sm-10 clearfix">
                                                {#                                                                            <input type="text" class="form-control"#}
                                                {#                                                                                   name="message" autocomplete="off">#}
                                                <textarea name="message"
                                                          class="form-control"></textarea>
                                                <input type="hidden" name="group"
                                                       value="{{ group.id }}">
                                            </div>
                                            <div class="col-sm-2">
                                                <button class="btn btn-default waves-effect waves-light btn-block"
                                                        type="submit"><i
                                                        class="fa fa-paper-plane-o"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <p class="align-center">У Вас нету ни одного активного чата</p>
            {% endif %}
        </div>
    </div>

{% endblock %}
{% block extra_scripts %}
    <script src="{% static 'assets/plugins/magnific-popup/dist/jquery.magnific-popup.min.js' %}"></script>
    <script>
        $('.image-popup').magnificPopup({
            type: 'image',
            closeOnContentClick: true,
            closeBtnInside: false,
            fixedContentPos: true,
            mainClass: 'mfp-no-margins mfp-with-zoom', // class to remove default margin from left and right side
            image: {
                verticalFit: true
            },
            zoom: {
                enabled: true,
                duration: 300 // don't foget to change the duration also in CSS
            }
        });
        function abc2(n) {
            console.log(n.replace(/([0-9]{3})/g, "$1 ").replace(/U/g, ""));
            return n.replace(/([0-9]{3})/g, "$1 ")
        }

        $.each($('.cost'), function (index, value) {
            $(value).text(abc2($(value).attr('data-cost')) + 'руб.');
        });
        $(document).ready(function () {
            $('.reject').click(function () {
                var id = $(this).attr('data-id');
                $.ajax({
                    type: 'POST',
                    url: '{% url 'profile:billboard_reject' %}',
                    data: {'csrfmiddlewaretoken': '{{ csrf_token }}', 'id': id},
                    success: function (data) {
                        $.Notification.notify('success', 'top left', 'Реклама отклонена');
                        $('.b_' + id).remove()
                    }
                })
            });
            $('#datatable,#datatable_2,#datatable_3,#datatable_4').dataTable();

            $('.create_form').submit(function (e) {
                e.preventDefault();
                var formData = new FormData(this);
                $.ajax({
                    type: 'POST',
                    url: '{% url 'billboard_create' %}',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        location.reload();
                    }
                })
            });
            $('.messages-wrapper').click(function () {
                $($(this).find('a').attr('href')).addClass('active');
                {#                $.each($('.messages-block'), function (i, v) {#}
                {#                    $(v).scrollTop(v.scrollHeight);#}
                {#                })#}
            });
            $('.chat-user-item').click(function () {
                var messages_block = $('#chat_' + $(this).attr('data-id'));
                var block = messages_block.find('div.messages-block');
                messages_block.addClass('active');
                block.scrollTop(block[0].scrollHeight);
            });
            $('.chat-buttons').submit(function (e) {
                var obj = $(this);
                e.preventDefault();
                if ($(this).find('textarea[name=message]').val()) {
                    $.ajax({
                        type: 'POST',
                        url: '{% url 'profile:send_message' %}',
                        data: obj.serialize(),
                        success: function (data) {
                            var prev = obj.prev();
                            var last = prev.find('.message-inner:last');
                            if ($(last).hasClass('question')) {
                                prev.append('<div class="answer clearfix message-inner">' +
                                        '<div class="user-info">' +
                                        '<span>Я</span>' +
                                        '</div>' +
                                        '<div class="messages">' +
                                        data +
                                        '</div>' +
                                        '</div>')
                            } else {
                                prev.find('.messages:last').append(data);
                            }
                            obj.prev().scrollTop(obj.prev()[0].scrollHeight);
                            obj[0].reset()
                        }
                    })
                }
            });
            $('#datatable_3').on('click', '.accept', function () {
                billboard_accept($(this).attr('data-id'));
                $(this).parent().parent().find('.bill-status').text('Разрешен');
            })
        });
        function billboard_accept(data_id) {
            $.ajax({
                type: 'POST',
                url: '{% url 'profile:billboard_accept' %}',
                data: {'csrfmiddlewaretoken': '{{ csrf_token }}', 'id': data_id},
                success: function () {
                    $.Notification.notify('custom', 'top left', 'Реклама одобрена', 'Теперь эту рекламу смогут увидеть пользователи');
                },
                error: function (error) {
                    console.log(error)
                }
            });
        }
        var counter = $('.message_counter');
        var notify = $('.notify');
        var count = notify.length;
        if (count > 0) {
            counter.text(count)
        } else {
            counter.hide()
        }
        function message_read(e) {
            if (e.hasClass('not_read')) {
                notify = e.find('.notify');
                $.ajax({
                    type: 'POST',
                    url: '{% url 'profile:message_read' %}',
                    data: {'csrfmiddlewaretoken': '{{ csrf_token }}', 'id': e.attr('data-id')},
                    success: function (data) {
                        count -= 1;
                        if (count > 0) {
                            counter.text(count)
                        } else {
                            counter.fadeOut()
                        }
                        notify.fadeOut();
                        e.removeClass('not_read');
                        $('#chat_' + e.attr('data-id')).find('p.read').removeClass('read', 3000)
                    }
                })
            }
        }
        $('.chat-user-item').click(function () {
            message_read($(this));
        });
        function readURL(input, block_id) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#image_' + block_id).attr('src', e.target.result)
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
        $('.billboard_photo').change(function () {
            var data = new FormData();
            var data_id = $(this).attr('data-id');
            data.append('billboard_image', this.files[0]);
            data.append('csrfmiddlewaretoken', '{{ csrf_token }}');
            data.append('id', data_id);
            $.ajax({
                type: 'POST',
                url: '{% url 'profile:billboard_image' %}',
                data: data,
                success: function (result) {
                    $.Notification.notify('success', 'top left', 'Картинка изменена')
                    $('#image_' + data_id).attr('src', result)
                },
                error: function () {
                    $.Notification.notify('error', 'top left', 'Произошла ошибка!')
                },
                processData: false,
                contentType: false
            })
        });
        $('.billboard_link').click(function () {
            $('.billboard_link').show();
            $('.billboard_link_send').hide();
            $(this).hide();
            $(this).next().show();
        });
        $('.billboard_link_send').submit(function (e) {
            e.preventDefault();
            var form = $(this);
            $.ajax({
                type: 'POST',
                url: '{% url 'profile:billboard_link' %}',
                data: $(this).serialize(),
                success: function (data) {
                    form.prev().text(data).show();
                    form.hide();
                    $.Notification.notify('success', 'top left', 'Ссылка успешно изменена!')
                },
                error: function () {
                    $.Notification.notify('error', 'top left', 'Произошла ошибка!')
                }
            });
        });
        $('.close_notify').click(function () {
            $('.pay_notify').hide()
        });
        $('#shop_status').change(function () {
            $.ajax({
                type: 'POST',
                url: '{% url 'shop_status' %}',
                data: {'csrfmiddlewaretoken': '{{ csrf_token }}', 'status': $(this).is(':checked')},
                success: function (data) {
                    $.Notification.notify('success', 'top left', 'Статус магазина изменен!', data);
                }
            })
        });
        $('.region_table').change(function () {
            $.ajax({
                type: 'POST',
                url: '{% url 'profile:billboard_region' %}',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'region': $(this).val(),
                    'id': $(this).attr('data-id')
                },
                success: function (data) {
                    $.Notification.notify('success', 'top left', 'Регион изменен на ' + data);
                }
            })
        });
        $('#datatable_4').on('click', '.billboard_show', function () {
            var status = $(this).attr('data-status');
            $.ajax({
                type: 'POST',
                url: '{% url 'billboard_show' %}',
                data: {'csrfmiddlewaretoken': '{{ csrf_token }}', 'pk': $(this).attr('data-pk'), 'status': status},
                success: function (data) {
                    if (status == 'true') {
                        $('#billboard' + data).find('span.show').html('<span title="Остановить показ" data-pk="' + data + '" data-status="false" class="text-success billboard_show"><i class="fa fa-pause"></i></span>')
                    } else {
                        $('#billboard' + data).find('span.show').html('<span title="Продолжить показ" data-pk="' + data + '" data-status="true" class="text-warning billboard_show"><i class="fa fa-play"></i></span>')
                    }
                }
            })
        });
        $('#datatable').on('click', '.advert_show', function () {
            var status = $(this).attr('data-status');
            $.ajax({
                type: 'POST',
                url: '{% url 'advert_show' %}',
                data: {'csrfmiddlewaretoken': '{{ csrf_token }}', 'pk': $(this).attr('data-pk'), 'status': status},
                success: function (data) {
                    if (status == 'true') {
                        $('#advert' + data).find('span.show').html('<span title="Остановить показ" data-pk="' + data + '" data-status="false" class="text-success advert_show"><i class="fa fa-pause"></i></span>')
                    } else {
                        $('#advert' + data).find('span.show').html('<span title="Продолжить показ" data-pk="' + data + '" data-status="true" class="text-warning advert_show"><i class="fa fa-play"></i></span>')
                    }
                }
            })
        }).on('click', '.advert_delete', function () {
            var pk = $(this).attr('data-pk');
            swal({
                title: "Вы уверены?",
                text: "Удаление объявления",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Да, удалить!",
                closeOnConfirm: false
            }, function () {
                $.ajax({
                    type: 'POST',
                    url: '{% url 'advert_delete' %}',
                    data: {'csrfmiddlewaretoken': '{{ csrf_token }}', 'pk': pk},
                    success: function (data) {
                        $('#advert' + data).remove();
                        swal("Удалено!", '', 'success');
                    }
                });
            })
        })
    </script>
{% endblock %}
