{% extends 'base.html' %}
{% load widget_tweaks %}
{% load staticfiles %}
{% block head_title %}Редактирование профиля{% endblock %}

{% block content %}
    <div class="my-profile-edit">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="my-profile-img">
                            <div id="image" style="background:url('{% if object.photo %}/media/{{ object.photo }}{% else %}{% static 'images/user.png' %}{% endif %}') no-repeat center center;background-size:cover"></div>
                        </div>
                       <div class="form-group m-t-10">
                            <input id="id_image" type="file" name="photo" class="filestyle" data-buttontext="Выберите файл" data-buttonname="btn-white">
                        </div>
                        <div class="form-group">
                            <label for="first_name">Имя:</label>
                            <input class="form-control" id="first_name" type="text" name="first_name" value="{{ request.user.first_name }}">
                            {{ form.first_name.errors }}
                        </div>
                        <div class="form-group">
                            <label for="last_name">Фамилия:</label>
                            <input class="form-control" id="last_name" type="text" name="last_name" value="{{ request.user.last_name }}">
                            {{ form.last_name.errors }}
                        </div>
                        <div class="form-group">
                            <label for="last_name">Email:</label>
                            <input class="form-control" id="email" type="email" name="email" value="{{ request.user.email }}">
                            {{ form.email.errors }}
                        </div>
                        <div class="form-group">
                            <label for="last_name">Телефон:</label>
                            {{ form.phone|add_class:'form-control'|attr:'data-mask:8 (999) 999-9999' }}
                            {{ form.phone.errors }}
                        </div>
                        <button class="btn btn-default waves-effect waves-light"><span class="btn-label"><i class="fa fa-check"></i></span>Сохранить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'assets/plugins/bootstrap-filestyle/src/bootstrap-filestyle.js' %}"></script>
    <script src="{% static 'assets/plugins/bootstrap-filestyle/src/bootstrap-filestyle.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/plugins/bootstrap-inputmask/bootstrap-inputmask.min.js' %}" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $(window).resize(function () {
                var f = $(window).height();
                var n = $('nav.topbar').height();
                $('.my-profile-edit').css({'min-height': f - n});
            });
            $(window).trigger('resize');
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#image').css({'background': 'url(' + e.target.result + ') no-repeat center center','background-size':'cover'});
                    };

                    reader.readAsDataURL(input.files[0]);
                }
            }
            $('#id_image').change(function(){
                readURL(this);
            });
            $('.errorlist').parent().addClass('has-error');
        });
    </script>
{% endblock %}