{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load staticfiles %}
{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block content %}
    <div class="all-my-form-wrapper signup-wrap align-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-12">
                    <h1 class="white-text">{% trans "Confirm E-mail Address" %}</h1>
                    {% if confirmation %}
                    {% user_display confirmation.email_address.user as user_display %}
                    <h3>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</h3>
                    <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                    {% csrf_token %}
                        <button type="submit" class="btn btn-rounded btn-inverse waves-effect waves-light">{% trans 'Confirm' %}</button>
                    </form>
                    {% else %}
                    {% url 'account_email' as email_url %}
                    <h3>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
    $(document).ready(function () {
        $(window).resize(function(){
            var f = $(window).height();
            var n = $('nav.topbar').height();
            $('.all-my-form-wrapper').css({'min-height':f - n});
        });
        $(window).trigger('resize');
        $('.errorlist').parent().parent().addClass('has-error');
    });
    </script>
{% endblock %}
