{% extends "account/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
     <div class="all-my-form-wrapper signup-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-12">
                    <h1>{% trans "Change Password" %}</h1>
                    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                        {% csrf_token %}
                        <div class="form-group">
                            <span>Текущий пароль:</span>
                            <input type="password" name="oldpassword" class="form-control">
                            {{ form.oldpassword.errors }}
                        </div>
                        <div class="form-group">
                            <span>Новый пароль:</span>
                            <input type="password" name="password1" class="form-control">
                            {{ form.password1.errors }}
                        </div>
                        <div class="form-group">
                            <span>Повторите пароль:</span>
                            <input type="password" name="password2" class="form-control">
                            {{ form.password2.errors }}
                        </div>
                        <button type="submit" name="action" class="btn btn-rounded btn-reverse waves-effect waves-light">{% trans "Change Password" %}</button>
                    </form>
                </div>
            </div>
        </div>
     </div>
{% endblock %}
{% block scripts %}
    <script>
    $(document).ready(function () {
        $(window).resize(function(){
            var f = $(window).height();
            var n = $('nav.topbar').height();
            $('.all-my-form-wrapper').css({'min-height':f - n});
        });
        $(window).trigger('resize');
        $('.errorlist').parent().parent().addClass('has-error');
    });
    </script>
{% endblock %}
