{% extends "account/base.html" %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <div class="all-my-form-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h1>{% trans "Password Reset" %}</h1>
                    {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}

                    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

                    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_email">Email:</label>
                            <input type="email" name="email" id="id_email" class="form-control">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-rounded btn-reverse waves-effect waves-light" type="submit">{% trans 'Reset My Password' %}</button>
                        </div>
                    </form>

                    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
    $(document).ready(function () {
        $(window).resize(function(){
            var f = $(window).height();
            var n = $('nav.topbar').height();
            $('.all-my-form-wrapper').css({'min-height':f - n});
        });
        $(window).trigger('resize');
        $('.errorlist').parent().addClass('has-error');
    });
    </script>
{% endblock %}
