{% extends "account/base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load staticfiles %}
{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
    <div class="all-my-form-wrapper signup-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-12 align-center">
                    <div style="display:inline-block">
                        <h2 class="align-left">Преимущества после регистрации:</h2>
                        <ul class="pre align-left">
                            <li>Личный кабинет</li>
                            <li>Возможность размещать объявления</li>
                            <li>Возможность создать магазин</li>
                            <li>Возможность стать партнером</li>
                            <li>Возможность размещать рекламу на сайте</li>
                        </ul>
                        <p style="font-style:italic">- Удобно - Просто - Выгодно -</p>
                    </div>
                </div>
                <div class="col-md-5 col-sm-12">
                    <h3>{% trans "Sign Up" %}</h3>
                    <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
                    <form class="form-horizontal login" id="signup_form" method="post" action="{% url 'account_signup' %}">
                        {% csrf_token %}
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <div class="form-group">
                            <label for="id_first_name" class="col-sm-3 control-label">* Имя:</label>
                            <div class="col-sm-9">
                                {{ form.first_name|add_class:'form-control' }}
                                {{ form.first_name.errors }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="id_last_name" class="col-sm-3 control-label">Фамилия:</label>
                            <div class="col-sm-9">
                                {{ form.last_name|add_class:'form-control' }}
                                {{ form.last_name.errors }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Телефон:</label>
                            <div class="col-sm-9">
                                {{ form.phone|add_class:'form-control'|attr:'data-mask:8 (999) 999-9999' }}
                                <span class="font-13">Пример: 8 (999) 999-9999</span>
                                {{ form.phone.errors }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Email:</label>
                            <div class="col-sm-9">
                                {{ form.email|add_class:'form-control' }}
                                {{ form.email.errors }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label">Пароль:</label>
                            <div class="col-sm-9">
                                <input type="password" name="password1" class="form-control" id="id_password1">
                                {{ form.password1.errors }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword4" class="col-sm-3 control-label">Повторите пароль:</label>
                            <div class="col-sm-9">
                                <input type="password" name="password2" class="form-control" id="id_password2">
                                {{ form.password2.errors }}
                                <p>{{ form.non_field_errors }}</p>
                            </div>
                        </div>
                        <div class="form-group m-b-0">
                            <div class="col-sm-offset-3 col-sm-9">
                              <button type="submit" class="btn btn-rounded btn-reverse waves-effect waves-light">
                                  <span class="btn-label"><i class="fa fa-check"></i></span>Регистрация</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'assets/plugins/bootstrap-inputmask/bootstrap-inputmask.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/plugins/autoNumeric/autoNumeric.js' %}" type="text/javascript"></script>
    <script>
    $(document).ready(function () {
        $(window).resize(function(){
            var f = $(window).height();
            var n = $('nav.topbar').height();
            $('.all-my-form-wrapper').css({'min-height':f - n});
        });
        $(window).trigger('resize');
        $('.errorlist').parent().parent().addClass('has-error');
    });
    </script>
{% endblock %}
