<tr role="row">
    <td class="sorting_1">{{ data.link }}</td>
    <td>{{ data.get_status_display }}</td>
    <td>{{ data.shows }}</td>
    <td>{{ data.clicks }}</td>
    <td><span class="accept" data-id="{{ data.id }}">Разрешить</span></td>
</tr>