{% extends 'profile_base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block extra_styles %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <style>
        .dropdown-menu{min-height: inherit!important;}
    </style>
{% endblock %}
{% block profile_content %}
    <div class="card-box">
    <div class="row">
        <div class="col-md-12">
            <h2 class="col-md-offset-2" style="margin-bottom: 50px;">{% block form_title %}Создание рекламы на сайте biznesdesk.ru{% endblock %}</h2>
            <form class="form-horizontal" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="" class="col-md-2 control-label">*Выберите регион</label>
                    <div class="col-md-8">
                        {{ form.region|add_class:'selectpicker'|attr:'data-live-search: true'|attr:'data-style: btn-white' }}</div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">*Ссылка</label>
                    {{ form.link.errors }}
                    <div class="col-md-8">
                        {{ form.link|attr:'required'|add_class:'form-control' }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="id_block">*Выберите рекламный блок</label>
                    <div class="col-md-2">
                        <select name="block" id="id_block" class="selectpicker" data-style="btn-white">
                            <option value="1" data-width="{{ settings.width_1 }}" data-height="{{ settings.height_1 }}">1 блок
                            </option>
                            <option value="2" data-width="{{ settings.width_2 }}" data-height="{{ settings.height_2 }}">2 блок
                            </option>
                            <option value="3" data-width="{{ settings.width_3 }}" data-height="{{ settings.height_3 }}">3 блок
                            </option>
                            <option value="4" data-width="{{ settings.width_4 }}" data-height="{{ settings.height_4 }}">4 блок
                            </option>
                        </select>
                    </div>
                    <div class="col-md-8">Картинка рекламного блока должна быть <br>
                        Шириной: <span style="color: red" class="w">{{ settings.width_1 }}</span> пикселей <br> Высотой: <span style="color: red" class="h">{{ settings.height_1 }}</span> пикселей.</div>
                </div>
                <div class="form-group">
                    <label for="id_image" class="col-md-2 control-label"></label>
                    <div class="col-md-8">
                        {% if form.instance.pk %}
                            {{ form.image|add_class:'filestyle'|attr:'data-input: false'|attr:'data-buttonname:btn-white' }}
                        {% else %}
                            {{ form.image|add_class:'filestyle'|attr:'required'|attr:'data-input: false'|attr:'data-buttonname:btn-white' }}
                    {% endif %}
                    </div>
                </div>
                {% block update %}
                    <div class="col-md-offset-2" style="margin-bottom: 20px;"><div class="g-recaptcha" data-sitekey="6LfsxggUAAAAAHCPU-x3gsylrixehd2-SKAfSvqo"></div></div>
                {% endblock %}
                {{ form.non_field_errors }}
                <a href="{% url 'profile:general' %}" class="btn btn-default waves-effect waves-light">
                                                   <span class="btn-label"><i class="fa fa-arrow-left"></i>
                                                   </span>Назад в профиль</a>
                    <button type="submit" class="btn btn-inverse waves-effect waves-light">Создать рекламный блок</button>
                    <a href="{% url 'advertising' %}" target="_blank">Условия пользования рекламными блоками</a>
            {% block delete %}{% endblock %}
            </form>
        </div>
    </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'assets/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'assets/plugins/datatables/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'assets/plugins/bootstrap-filestyle/src/bootstrap-filestyle.min.js' %}"></script>
    <script src="{% static 'assets/plugins/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'assets/plugins/notifyjs/dist/notify.min.js' %}"></script>
    <script src="{% static 'assets/plugins/notifications/notify-metro.js' %}"></script>
    <script src="{% static 'assets/plugins/switchery/dist/switchery.min.js' %}"></script>
    <script>
        function readURL(input, w, h) {
            var reader = new FileReader(), result = false, img = input.files[0];
            reader.onload = function (e) {
                var image = new Image();
                image.src = e.target.result;
                image.onload = function () {
                    result = !(this.width != w || this.height != h);
                    if (!result) {
                        $(input).filestyle('clear');
                        alert('Неправильный размер картинки')
                    }
                };
                return result
            };
            reader.readAsDataURL(img);
        }
        function typeChecker(input, w, h) {
            var file = input.files[0];
            if (!file) {
                return false;
            }
            var type = file.type.split('/')[0];
            if (type == 'image') {
                return readURL(input, w, h);
            } else {
                alert('Только картинки');
                $(input).filestyle('clear')
            }
            return false;
        }
        var $image = $('#id_image'), $block = $('#id_block'), w, h, opt;
        $image.change(function (e) {
            opt = $block.find('option:selected', this);
            w = opt.attr('data-width');
            h = opt.attr('data-height');
            typeChecker(this, w, h)
        });
        $block.change(function () {
            opt = $(this).find('option:selected', this);
            w = opt.attr('data-width');
            h = opt.attr('data-height');
            $('.w').html(w);
            $('.h').html(h);
            typeChecker($image[0], w, h);
        })
    </script>
    {% block update_js %}{% endblock %}
{% endblock %}