{% extends 'profile_base.html' %}
{% block profile_content %}
    <div class="card-box">
    <div class="panel-body">
    <table id="datatable_4" class="table table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Регион</th>
                                        <th>Изображение</th>
                                        <th>Ссылка</th>
                                        <th>Просмотры</th>
                                        <th>Клики</th>
                                        <th>Статус</th>
                                        <th>действия</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for billboard in objects %}
                                        <tr id="billboard{{ billboard.pk }}">
                                            <td>
                                                {% if billboard.region %}
                                                {{ billboard.region }}
                                                {% else %}
                                                    Вся Россия
                                            {% endif %}
                                            </td>
                                            <td>
                                                    <img class="table-img" id="image_{{ billboard.id }}"
                                                         src="/media/{{ billboard.image }}" alt="">
                                            </td>
                                            <td>
                                                <span class="billboard_link">{{ billboard.link }}</span>
                                                <form class="billboard_link_send" action=""
                                                      style="display: none">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="id"
                                                           value="{{ billboard.id }}">
                                                    <input type="text" name="link"
                                                           value="{{ billboard.link }}">
                                                </form>
                                            </td>
                                            <td>{{ billboard.shows }}</td>
                                            <td>{{ billboard.clicks }}</td>
                                            <td>{{ billboard.get_status_display }}</td>
                                            <td class="text-center action_buttons">
                                                <a href="{% url 'billboard_update' pk=billboard.id %}">изменить</a>
                                            </td>
                                        </tr>
                                        {% empty %}
                                        <tr>
                                        <td colspan="7"><a href="{% url 'billboard_create' %}">Создайте свой рекламный блок для привлечения новых клиентов.</a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
        <a href="{% url 'profile:general' %}" class="btn btn-default waves-effect waves-light">
                                                   <span class="btn-label"><i class="fa fa-arrow-left"></i>
                                                   </span>Назад в профиль</a>
    </div>
    </div>
{% endblock %}