{% extends 'billboard/create.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block form_title %}Редактирование рекламы {{ form.instance.link }}{% endblock %}
{% block update_css %}
    <link href="{% static 'assets/plugins/switchery/dist/switchery.min.css' %}" rel="stylesheet" />
{% endblock %}
{% block update %}
    <div class="form-group">
        <label for="id_show" class="col-md-2">Показывать рекламу?</label>
    <div class="col-md-8">{{ form.show|attr:'data-plugin:switchery'|attr:'data-color:#81c868' }}</div>
    </div>
{% endblock %}
{% block delete %}
    <a href="{% url 'billboard_delete' pk=form.instance.pk %}" class="btn col-md-offset-5 btn-danger waves-effect waves-light">Удалить</a>
{% endblock %}
{% block update_js %}
    <script src="{% static 'assets/plugins/switchery/dist/switchery.min.js' %}"></script>
{% endblock %}