{% extends "account/base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% load staticfiles %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
    <div class="all-my-form-wrapper login-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 col-sm-12">
                    <h3 class="align-center">{% trans "Sign In" %}</h3>
                    {% get_providers as socialaccount_providers %}
                    <div class="my-social-buttons">
                        <a href="{% url 'facebook_login' %}" class="btn btn-facebook waves-effect waves-light">
                            <span class="btn-label"><i class="fa fa-facebook"></i></span>
                            Facebook
                        </a>
                        <a href="{% url 'google_login' %}" class="btn btn-googleplus waves-effect waves-light">
                            <span class="btn-label"><i class="fa fa-google-plus"></i></span>
                            Google+
                        </a>
                        <span>или</span>
                    </div>
                    <form class="login" method="POST" action="{% url 'account_login' %}">
                        {% csrf_token %}
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="icon-user"></i></span>
                                <input type="email" id="id_login" name="login" class="form-control" placeholder="Логин">
                                {{ form.login.errors }}
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="icon-lock"></i></span>
                                <input type="password" id="id_password" name="password" class="form-control" placeholder="Пароль">
                                {{ form.password.errors }}
                            </div>
                            {{ form.non_field_errors }}
                            <div class="checkbox checkbox-primary align-center">
                                <input id="id_remember" type="checkbox" name="remember">
                                <label for="id_remember">
                                    Запомнить меня
                                </label>
                            </div>
                        </div>
                        <div class="align-center">
                            <div class="form-group">
                                <button type="submit" class="btn btn-rounded btn-reverse waves-effect waves-light">
                                    <span class="btn-label"><i class="fa fa-check"></i></span>
                                    {% trans "Sign In" %}
                                </button>
                                <a class="button secondaryAction white-text" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                            </div>
                            <div class="form-group">
                                <a href="{% url 'account_signup' %}" class="btn btn-default waves-effect waves-light">Регистрация</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
    $(document).ready(function () {
        $(window).resize(function(){
            var f = $(window).height();
            var n = $('nav.topbar').height();
            $('.all-my-form-wrapper').css({'min-height':f - n});
        });
        $(window).trigger('resize');
        $('.errorlist').parent().addClass('has-error');
    });
    </script>
{% endblock %}
