{% extends "account/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
    <div class="all-my-form-wrapper signup-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-12">
                    <h1 class="">{% trans "Set Password" %}</h1>
                    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                        {% csrf_token %}
                        <div class="form-group">
                            <span>Пароль:</span>
                            <input type="password" name="password1" class="form-control">
                            {{ form.password1.errors }}
                        </div>
                        <div class="form-group">
                            <span>Повторите пароль:</span>
                            <input type="password" name="password2" class="form-control">
                            {{ form.password2.errors }}
                        </div>
                        <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
    $(document).ready(function () {
        $(window).resize(function(){
            var f = $(window).height();
            var n = $('nav.topbar').height();
            $('.all-my-form-wrapper').css({'min-height':f - n});
        });
        $(window).trigger('resize');
        $('.errorlist').parent().parent().addClass('has-error');
    });
    </script>
{% endblock %}
