{% extends "account/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
    <div class="all-my-form-wrapper signup-wrap align-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-12">
                    <h1 class="white-text">{% trans "Verify Your E-mail Address" %}</h1>
                    <h3 class="white-text">Мы отправили по электронной почте к вам для подтверждения. Перейдите по ссылке, чтобы завершить процесс регистрации. Пожалуйста, свяжитесь с нами, если вы не получите его в течение нескольких минут.</h3>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
    $(document).ready(function () {
        $(window).resize(function(){
            var f = $(window).height();
            var n = $('nav.topbar').height();
            $('.all-my-form-wrapper').css({'min-height':f - n});
        });
        $(window).trigger('resize');
        $('.errorlist').parent().parent().addClass('has-error');
    });
    </script>
{% endblock %}
