{% extends "socialaccount/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
    <div class="all-my-form-wrapper signup-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 col-sm-12">
                    <h3>{% trans "Sign Up" %}</h3>
                    <form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <span class="control-label">Имя:</span>
                            {{ form.first_name|add_class:'form-control' }}
                            {{ form.first_name.errors }}
                        </div>
                        <div class="form-group">
                            <span class="control-label">Фамилия:</span>
                            {{ form.last_name|add_class:'form-control' }}
                            {{ form.last_name.errors }}
                        </div>
                        <div class="form-group">
                            <span class="control-label">Email:</span>
                            {{ form.email|add_class:'form-control' }}
                            {{ form.email.errors }}
                        </div>
                        <div class="form-group">
                            <span class="control-label">Телефон:</span>
                            {{ form.phone|add_class:'form-control'|attr:'id:id_phone'|attr:'data-mask: 8 (999) 999-9999' }}
                            <span class="font-13">Пример: 8 (999) 999-9999</span>
                            {{ form.phone.errors }}
                        </div>
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                      {% endif %}
                      <button type="submit" class="btn btn-rounded btn-inverse waves-effect waves-light">{% trans "Sign Up" %} &raquo;</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'assets/plugins/bootstrap-inputmask/bootstrap-inputmask.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/plugins/autoNumeric/autoNumeric.js' %}" type="text/javascript"></script>
    <script>
    $(document).ready(function () {
        $(window).resize(function(){
            var f = $(window).height();
            var n = $('nav.topbar').height();
            $('.all-my-form-wrapper').css({'min-height':f - n});
        });
        $(window).trigger('resize');
        $('.errorlist').parent().parent().addClass('has-error');
    });
    </script>
{% endblock %}