{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block styles %}
    <link href="{% static 'assets/plugins/dropzone/dist/dropzone.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/plugins/switchery/dist/switchery.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/plugins/multiselect/css/multi-select.css' %}" rel="stylesheet">
    <link href="{% static 'assets/plugins/bootstrap-select/dist/css/bootstrap-select.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/plugins/jquery.steps/demo/css/jquery.steps.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block head_title %}Добавление объявления{% endblock %}
{% block preloader %}
<div id="depreload" class="table">
    <div class="table-cell wrapper">
        <div class="circle">
            <canvas class="line" width="360" height="360"></canvas>
            <span class="dep-logo">
                <img src="{% static 'images/logo-bdk (1).png' %}" alt="Логотип Biznesdesk.ru">
                <span class="perc"></span>
            </span>
            <span class="depreload-text">Biznesdesk.ru - Сервис по продаже бизнеса.</span>
        </div>
    </div>
    <span class="openLeft"></span>
    <span class="openRight"></span>
</div>
    <script>
    //События до загрузки документа
    var depreload = $('#depreload');
    setTimeout(function () {
        depreload.find(".wrapper").animate({opacity: 1});
    }, 400);

    setTimeout(function () {
        depreload.find(".logo-left").animate({opacity: 1});
    }, 800);

    var canvas = depreload.find(".line")[0],
            context = canvas.getContext("2d");

    context.beginPath();
    context.arc(180, 180, 160, Math.PI * 1.5, Math.PI * 1.6);
    context.strokeStyle = '#0CB863';
    context.lineWidth = 5;
    context.stroke();

    var loader = $("body").DEPreLoad({
        OnStep: function (percent) {
            //console.log(percent + '%');
            $(".process-val").text(percent + "%");
            depreload.find(".line").animate({opacity: 1});
            depreload.find(".perc").text(percent + "%");

            if (percent > 5) {
                context.clearRect(0, 0, canvas.width, canvas.height);
                context.beginPath();
                context.arc(180, 180, 160, Math.PI * 1.5, Math.PI * (1.5 + percent / 50), false);
                context.stroke();
            }
        },
        OnComplete: function () {
            //console.log('Everything loaded!');
            setTimeout(function(){
                depreload.find(".perc").text("Готово");
                depreload.find(".circle").animate({opacity: 0});
                $(".openLeft").stop().delay(500).animate({width: '0'});
                $(".openRight").stop().delay(500).animate({width: '0'});
                depreload.delay(1000).fadeOut(300);
            },1000);
        }
    });

    </script>

{% endblock %}
{% block content %}
    {% include 'menu.html' %}
    <div class="row my-steps">
        <div class="col-md-10 col-md-offset-1">
            <div class="card-box row">
                <div class="col-md-12 p-0">
                    <form id="wizard-validation-form" class="wizard" action="" method="POST" enctype="multipart/form-data">
                        <div>
                            {% csrf_token %}
                            <h3>Шаг</h3>
                            <section>
                                <div class="form-group">
                                    <label for="id_type" class="col-md-4">Выберите тип объявления: *</label>
                                    {{ form.type|add_class:'selectpicker col-md-8 p-0'|attr:'data-style:btn-white' }}
                                    {{ form.type.errors }}
                                </div>
                                <div class="form-group field-single_division">
                                    <label for="id_single_division" class="col-md-4">Выберите категорию: *</label>
                                    {{ form.single_division|add_class:'selectpicker col-md-8 p-0'|attr:'data-live-search:true'|attr:'data-style:btn-white'|attr:'required' }}
                                    {{ form.single_division.errors }}
                                </div>

                                <div class="form-group field-act">
                                    <label for="id_act" class="col-md-4">Выберите действие: *</label>
                                    {{ form.act|add_class:'selectpicker col-md-8 p-0'|attr:'data-style:btn-white' }}
                                    {{ form.act.errors }}
                                </div>
                                <div class="form-group clearfix">
                                    <label class="col-lg-12 control-label ">(*) Обязательное поле</label>
                                </div>
                            </section>
                            <h3>Шаг</h3>
                            <section>
                                <div class="form-group">
                                    <label for="id_region" class="col-md-4">Выберите регион: *</label>
                                    {{ form.region|add_class:'selectpicker col-md-8 p-0'|attr:'data-live-search:true'|attr:'data-style:btn-white' }}
                                    {{ form.region.errors }}
                                </div>
                                <div class="form-group metro-block">
                                    <label for="id_metro" class="col-md-4">Метро:</label>
                                    <div class="metro">
                                    </div>
                                    {{ form.metro.errors }}
                                </div>
                                <div class="form-group county-block">
                                    <label for="id_county" class="col-md-4">Район:</label>
                                    <div class="county">
                                    </div>
                                    {{ form.county.errors }}
                                </div>
                                <div class="form-group clearfix">
                                    <label class="col-lg-12 control-label ">(*) Обязательное поле</label>
                                </div>
                            </section>
                            <h3>Шаг</h3>
                            <section>
                            <div class="col-md-6">
                                <div class="form-group col-md-12">
                                    <label for="id_title">Введите заголовок объявления: *</label>
                                    {{ form.title|add_class:'form-control'|attr:'required' }}
                                    {{ form.title.errors }}
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="id_cost">Стоимость(руб): *</label>
                                    <input class="form-control" id="id_cost" name="cost" required="" type="text" maxlength="25" value="{{ form.cost.value }}"/>
                                    {{ form.cost.errors }}
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="id_video">Видео с YouTube</label>
                                    {{ form.video|add_class:'form-control youtube' }}
                                    {{ form.video.errors }}
                                    <span class="error" id="youtubeerror">Видео должно быть только с Youtube!</span>
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="id_phone">Телефон: *</label>
                                    {{ form.phone|add_class:'form-control'|attr:'data-mask:8 (999) 999-9999'|attr:'required' }}
                                    {{ form.phone.errors }}
                                </div>
                            </div>
                                <div class="form-group col-md-6">
                                    <label for="id_description">Введите описание: *</label>
                                    {{ form.description|add_class:'form-control'|attr:'required' }}
                                    {{ form.decription.errors }}
                                </div>
                                {% if request.user.shop %}
                                    <div class="form-group col-md-6">
                                        <div class="checkbox checkbox-primary">
                                            {{ form.on_slider }}
                                            <label for="id_on_slider">Добавить в магазин</label>
                                            {{ form.on_slider.errors }}
                                        </div>
                                    </div>
                                {% endif %}

                                <div class="form-group col-md-12 clearfix">
                                    <label class="col-lg-12 control-label ">(*) Обязательное поле</label>
                                </div>
                            </section>
                            <h3>Шаг</h3>
                            <section>
                                <div class="clearfix m-t-15">
                                    <form action="{% url 'advert_photo_upload' %}" class="advert-create-upload-file">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="form-group col-md-12 advert-create-upload-file">
                                                <label class="control-label">Добавьте картинки для вашего объявления</label>
                                                <input id="images" type="file" name="file" class="filestyle" multiple data-input="false">
                                            </div>
                                            <div class="form-group col-md-12">
                                                <div id="list">
                                                    {% for image in images %}
                                                        <div class="preview" id="advert_{{ image.id }}">
                                                        <span class="delete" data-id="{{ image.id }}" title="Удалить">X</span>
                                                            <img src="/media/{{ image.photo }}" alt="">
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="align-center">
                                        <button type="submit" class="btn btn-default btn-rounded waves-effect waves-light"><span class="btn-label"><i class="fa fa-check"></i></span>Готово</button>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'assets/plugins/switchery/dist/switchery.min.js' %}"></script>
    <script src="{% static 'assets/plugins/jquery-number/dist/jquery.number.min.js' %}"></script>
    <script src="{% static 'assets/plugins/multiselect/js/jquery.multi-select.js' %}"></script>
    <script src="{% static 'assets/plugins/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'js/advert.js' %}"></script>
    <!--Form Wizard-->
    <script src="{% static 'assets/plugins/bootstrapvalidator/dist/js/bootstrapValidator.js' %}"></script>
    <script src="{% static 'assets/plugins/jquery.steps/build/jquery.steps.min.js' %}"></script>
    <script src="{% static 'assets/plugins/jquery-validation/dist/jquery.validate.min.js' %}"></script>
    <!--wizard initialization-->
    <script src="{% static 'assets/pages/jquery.wizard-init.js' %}"></script>
    <script src="{% static 'assets/plugins/bootstrap-filestyle/src/bootstrap-filestyle.min.js' %}"></script>
    <script src="{% static 'assets/plugins/notifyjs/dist/notify.min.js' %}"></script>
    <script src="{% static 'assets/plugins/notifications/notify-metro.js' %}"></script>
    <script src="{% static 'assets/plugins/inputmusk/dist/inputmask/inputmask.js' %}"></script>
    <script src="{% static 'assets/plugins/inputmusk/dist/inputmask/inputmask.phone.extensions.js' %}"></script>
    <script src="{% static 'assets/plugins/inputmusk/dist/inputmask/jquery.inputmask.js' %}"></script>
    <script>
        $('input[name=phone]').each(function() {
            $(this).inputmask($(this).attr('data-mask'))
        })
    </script>
    <script>
    function image_delete() {
        $('#list').on('click', '.delete', function(){
            var id = $(this).attr('data-id');
            $.ajax({
                type: 'POST',
                url: '{% url 'advert_photo_delete' %}',
                data: {'csrfmiddlewaretoken': '{{ csrf_token }}', 'id': id},
                success: function () {
                    $('#advert_' + id).remove();
                }
            })
        });
    }
        function image_upload(){
            $('#images').change(function(){
            var formdata = new FormData();
            $.each($(this)[0].files, function(){
                formdata.append('images', this);
            });
            formdata.append('csrfmiddlewaretoken', '{{ csrf_token }}');
            $.ajax({
                type: 'POST',
                url: '{% url 'advert_photo_upload' %}',
                data: formdata,
                processData: false,
                contentType: false,
                success: function (data){
                    if (data.slice(0, 8) == 'max_size'){
                        $('#list').append(data.slice(9));
                        $.Notification.notify('warning', 'top left', 'Максимум 10 изображений.');
                    } else {
                        $('#list').append(data);
                    }
                },
	        error: function(error){console.log(error)}
            });
        });
        }
        image_upload();
    image_delete();
        $('.selectpicker').selectpicker();
    function metro_load(region_id) {
            $.ajax({
                type: 'POST',
                url: {% url 'metro_load' %},
                data: {'csrfmiddlewaretoken': '{{ csrf_token }}', 'region_id': region_id},
                success: function (data) {
                    $('.metro-block').show();
                    $('.metro').html(data);
                    $('.selectpicker').selectpicker();
                }
            })
        }
        function county_load(region_id) {
            $.ajax({
                type: 'POST',
                url: {% url 'county_load' %},
                data: {'csrfmiddlewaretoken': '{{ csrf_token }}', 'region_id': region_id},
                success: function (data) {
                    $('.county-block').show();
                    $('.county').html(data);
                    $('.selectpicker').selectpicker();
                }
            })
        }
    $(document).ready(function () {
        var region_id = $('#id_region').val();
        metro_load(region_id);
        county_load(region_id);
    });
    $('#id_region').change(function(){
        metro_load($(this).val());
        county_load($(this).val())
    });

    $("#id_cost").number( true, 0, ',', ' ' );
</script>
{% endblock %}
