{% extends 'base.html' %}
{% load tz %}
{% load staticfiles %}
{% block head_title %}{{ object.title }}{% endblock %}
{% block styles %}
    <link href="{% static 'assets/plugins/owl.carousel/dist/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/plugins/owl.carousel/dist/assets/owl.theme.default.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/plugins/magnific-popup/dist/magnific-popup.css' %}" rel="stylesheet">
    <link href="{% static 'assets/plugins/custombox/dist/custombox.min.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    {% include 'menu.html' %}
    <div class="container">
        <div class="advert-detail-wrapper card-box">
            <div class="row m-0">
                {% if user.profile.partner or user.profile.super_moderator or request.user == object.owner or show %}
                    <div class="user-panel pull-left">
                        {% if user == object.owner %}
                            <span class="bold">Продайте быстрее!</span>
                            <a data-class="advert_up" data-amount="{{ settings.advert_up }}" data-type="up" data-url="{% url 'up_list' %}?id={{ object.pk }}" class="advert_up btn btn-rounded my-round-btn activation"
                            data-text="Объявление поднято!">
                                <img width="30" src="{% static 'images/award-medal-of-number-one-with-olive-branches.png' %}"
                                     alt="Поднять в списке">
                                <span class="user-panel-info">Поднять в списке</span>
                            </a>
                            <a data-class="advert_vip" data-amount="{{ settings.advert_vip }}" data-url="{% if object.vip %}javascript:void(0){% else %}{% url 'vip' %}?id={{ object.pk }}{% endif %}" class="advert_vip btn btn-rounded my-round-btn {% if object.vip %}check{% else %}activation{% endif %}"
                            {% if not object.vip %}data-text="Теперь это VIP объявление"{% endif %}>
                                <img width="22" src="{% static 'images/vip.png' %}" alt="{% if object.vip %}Это VIP объявление{% else %}Сделать vip-объявлением{% endif %}">
                                {% if object.vip %}<span class="user-check"><i class="fa fa-check-circle"></i></span>{% endif %}
                                <span class="user-panel-info">{% if object.vip %}Это VIP объявление{% else %}Сделать vip-объявлением{% endif %}</span>
                            </a>
                            <a data-class="advert_allotted" data-amount="{{ settings.advert_allotted }}" data-url="{% if object.allotted %}javascript:void(0){% else %}{% url 'allotted' %}?id={{ object.pk }}{% endif %}" class="advert_allotted btn btn-rounded my-round-btn {% if object.allotted %}check{% else %}activation{% endif %}"
                            {% if not object.allotted %}data-text="Объявление выделено в списке!"{% endif %}>
                                <img width="22" src="{% static 'images/pencil.png' %}" alt="{% if object.allotted %}Это объвление выделено{% else %}Выделить объявление{% endif %}">
                                {% if object.allotted %}<span class="user-check"><i class="fa fa-check-circle"></i></span>{% endif %}
                                <span class="user-panel-info">{% if object.allotted %}Это объвление выделено{% else %}Выделить объявление{% endif %}</span>
                            </a>
                            {% if object.f_search %}
                                <a href="javascript:void(0)" class="btn btn-rounded my-round-btn check">
                                    <img width="23" src="{% static 'images/upload.png' %}"
                                         alt="Поднять объявление в поиске">
                                    <span class="user-check"><i class="fa fa-check-circle"></i></span>
                                    <span class="user-panel-info">Объявление показывается одно из первых</span>
                                </a>
                            {% else %}
                                <a data-class="advert_search" data-amount="{{ settings.advert_search }}" data-url="{% url 'f_search' %}?id={{ object.pk }}" class="advert_search btn btn-rounded my-round-btn activation"
                                   data-text="Сообщение поднято в поиске">
                                <img width="23" src="{% static 'images/upload.png' %}"
                                     alt="Поднять объявление в поиске">
                                <span class="user-panel-info">Поднять объявление в поиске</span>
                                </a>
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="admin-panel pull-right">
                        {% if user.profile.partner or user.profile.super_moderator %}
                            <span class="status">Статус: {{ object.get_status_display }}</span>
                            {% if object.region == request.user.profile.region or request.user.profile.super_moderator %}
                                {% if object.status == 'consideration' %}
                                    <div class="admin-buttons" style="display: inline-block">
                                    <button class="btn btn-rounded my-round-btn btn-default waves-effect waves-light"
                                            id="accept" value="{{ object.pk }}" type="button" title="Принять">
                                        <i class="glyphicon glyphicon-ok"></i></button>
                                    </div>
                                    <div style="display:inline-block;position:relative;" class="reject admin-buttons">
                                        <button class="btn btn-rounded my-round-btn btn-danger waves-effect waves-light"
                                            id="reject" type="button" title="Отклонить">
                                            <i style="font-size: 23px" class="fa fa-ban"></i></button>
                                        <div class="reject-message">
                                            <form class="rejected_form" action="" method="POST">
                                                {% csrf_token %}
                                                <input type="hidden" name="status" value="rejected">
                                                <input type="hidden" name="id" value="{{ object.pk }}">
                                                <div class="form-group">
                                                    <textarea name="solve_reject_text" id="aaa" placeholder="Введите причину отказа" class="form-control"></textarea>
                                                </div>
                                                <div class="align-center">
                                                    <button type="submit" class="btn btn-danger waves-effect waves-light">Отправить</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        {% if user.id == object.owner_id %}
                            <a style="margin-left: 20px" class="btn btn-rounded my-round-btn waves-effect waves-light"
                               href="{% url 'advert_update' url_name=advert.url_name pk=advert.pk %}"
                               title="Редактировать"><i class="glyphicon glyphicon-pencil"></i></a>
                        {% endif %}
                    </div>
                    <div class="advert-title col-sm-12 m-b-5">
                        <h2>{{ object.title }}</h2>
                        <p class="m-b-0">Размещено: {{ object.date }}</p>
                    </div>
                    <div class="advert-detail-header">
                        <div class="col-sm-12 col-md-8">
                            <div class="advert-detail-img-wrapper">
                                <div class="advert-detail-img">
                                    {% if object.photo.all %}
                                    <a href="/media/{{ object.photo.first.photo }}" class="next_img">
                                        <img class="load-image thumb-img" src="/media/{{ object.photo.first.photo }}"
                                             alt="{{ photo.photo }}">
                                    </a>
                                    {% else %}
                                        <img class="" src="{% static 'images/ban-on-shooting.png' %}"
                                             alt="Картинка объявления">
                                    {% endif %}
                                </div>
                                <hr class="m-t-5 m-b-5">
                                <div class="owl-carousel owl-theme" id="owl-multi">
                                    {% for photo in object.photo.all %}
                                        <div class="advert-detail-other-img">
                                            <img class="preview-image" src="/media/{{ photo.photo }}"
                                                 alt="{{ photo.photo }}">
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4" style="background-color:#fafafa">
                            <div class="advert-detail-header-right">
                                <p>Просмотров: Всего {{ advert.visitors }}, сегодня {{ advert.today }}</p>
                                <hr>
                                <p class="m-b-5">Город: {{ object.region }}</p>
                                {% if object.metro %}
                                    <p class="m-b-5">Метро: {{ object.metro }}</p>
                                {% endif %}
                                {% if object.county %}
                                    <p class="m-b-5">Район: {{ object.county }}</p>
                                {% endif %}
                                {% if object.phone %}
                                    <p class="m-b-5">Телефон: {{ object.phone }}</p>
                                {% endif %}
                                <p class="m-b-5">Категория: {{ object.get_type_display }}</p>
                                <p class="m-b-5">Вид(ы) деятельности:</p>
                                {% if object.single_division %}
                                    <span>{{ object.single_division }}</span>
                                {% elif object.multiple_division.all %}
                                    <ul>
                                        {% for div in object.multiple_division.all %}
                                            <li>{{ div.name }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                <hr>
                                <p class="m-b-5"><span class="advert-detail-cost"></span></p>
                                <a href="" target="_blank"></a>
                                <hr>
                                {% if user != object.owner %}
                                    {% if favorite %}
                                        <button type="button" id="favorite"
                                                class="btn btn-rounded waves-effect waves-light">
                                            <span class="btn-label"><i class="fa fa-star fav"></i></span>
                                            <span class="fav-text">Удалить из избранного</span>
                                        </button>
                                    {% else %}
                                        <button type="button" id="favorite"
                                                class="btn btn-rounded waves-effect waves-light">
                                            <span class="btn-label"><i class="fa fa-star-o fav"></i></span>
                                            <span class="fav-text">Добавить в избранное</span>
                                        </button>
                                    {% endif %}
                                {% endif %}
                                {% if not object.owner == user and not user.is_anonymous %}
                                    <a href="" class="btn btn-rounded waves-effect waves-light" data-toggle="modal"
                                       data-target="#con-close-modal">
                                        <span class="btn-label"><i class="fa fa-envelope"></i></span>
                                        Написать сообщение
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                    <hr>
                    <div class="">
                        <p><span class="bold font-medium">Подробности:
                        <br></span>
                        </p>
                            <pre>{{ object.description }}</pre>
                    </div>
                    <hr>
                    {% if shop_adverts %}
                        <div style="margin-top: 10px" class="shop-preview">
                            <p class="bold font-medium"><a href="{% url 'shop_detail' alias=shop.alias %}">Другие объявления магазина:</a></p>
                            <div class="owl-carousel owl-theme" id="owl-multi-2">
                            {% for advert in shop_adverts %}
                                {% if advert.pk != object.pk %}
                                    <div class="owl-carousel-item">
                                        <a href="{% url 'advert_detail' pk=advert.pk url_name=advert.url_name %}">
                                            {% if advert.photo.all %}
                                                <img class="" src="/media/{{ advert.photo.first.photo }}" alt="{{ photo.photo }}">
                                            {% else %}
                                                <img class="" src="{% static 'images/ban-on-shooting.png' %}" alt="Картинка объявления">
                                            {% endif %}
                                        </a>
                                    <span>
                                        <a href="{% url 'advert_detail' pk=advert.pk url_name=advert.url_name %}">{{ advert.name }}</a>
                                    </span>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    {% if similar_adverts.all %}
                        <div class="like-adverts">
                            <p class="bold font-medium">Похожие объявления:</p>
                            <div class="owl-carousel owl-theme" id="owl-multi-3">
                                {% for advert in similar_adverts.all %}
                                    <div class="owl-carousel-item">
                                        <a href="{% url 'advert_detail' pk=advert.pk url_name=advert.url_name %}">
                                            {% if advert.photo.all %}
                                                <img class="" src="/media/{{ advert.photo.first.photo }}" alt="{{ advert.photo.first.photo }}">
                                            {% else %}
                                                <img class="" src="{% static 'images/ban-on-shooting.png' %}" alt="Картинка объявления">
                                            {% endif %}
                                        </a>
                                    <span>
                                        <a href="{% url 'advert_detail' pk=advert.pk url_name=advert.url_name %}">{{ advert.name }}</a>
                                    </span>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    <div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                                    </button>
                                    <h4 class="modal-title">Написать сообщение</h4>
                                </div>
                                {% if not user.is_anonymous %}
                                    <form class="form-horizontal send_message" role="form" action="{% url 'profile:send_message' %}"
                                          method="post">
                                        {% csrf_token %}
                                        <div class="modal-body">
                                            <div class="m-0">
                                                <p>Кому: <span class="bold">{{ object.owner }}</span></p>
                                                <input type="hidden" name="group" value="{{ group.0.id }}">
                                                <input type="hidden" name="id" value="{{ object.owner_id }}">
                                                <div class="form-group m-0">
                                                    <textarea class="form-control" name="message"
                                                              placeholder="Поля для текста"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <span class="btn btn-rounded waves-effect waves-light" data-dismiss="modal"
                                                  style="border:1px solid#eee">Отмена</span>
                                            <button type="submit"
                                                    class="btn btn-default btn-rounded waves-effect waves-light">
                                                Отправить
                                            </button>
                                        </div>
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                    </div><!-- /.modal -->
                {% else %}
                    <h2 class="align-center">Объявление снято с публикации</h2>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'assets/plugins/owl.carousel/dist/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/plugins/magnific-popup/dist/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'assets/plugins/notifyjs/dist/notify.min.js' %}"></script>
    <script src="{% static 'assets/plugins/notifications/notify-metro.js' %}"></script>
    <!-- Modal-Effect -->
    <script src="{% static 'assets/plugins/custombox/dist/custombox.min.js' %}"></script>
    <script src="{% static 'assets/plugins/custombox/dist/legacy.min.js' %}"></script>
    <script>
    function abc2(n) {
        n += "";
        n = new Array(4 - n.length % 3).join("U") + n;
        return n.replace(/([0-9U]{3})/g, "$1 ").replace(/U/g, "");
    }
    $('.advert-detail-cost').text(abc2({{ object.cost }}) + 'руб');
    jQuery.fn.extend({
        toggleText: function (a, b){
            var isClicked = false;
            var that = this;
            this.click(function (){
                if (isClicked) { that.text(a); isClicked = false; }
                else { that.text(b); isClicked = true; }
            });
            return this;
        }
    });
        $('#favorite').click(function () {
            $.ajax({
                type: 'POST',
                url: '{% url 'advert_favorite' %}',
                data: {'csrfmiddlewaretoken': '{{ csrf_token }}', 'id': {{ object.id }}},
                success: function (data) {
                    if (data == 'del') {
                        $.Notification.notify('success','top left','Удалено из избранного!', '<a class="white-text" href={% url 'favorite_view' %} target=&quot;_blank&quot;><i class="icon-link"></i> <span style="text-decoration:underline">Здесь Вы можете посмотреть Ваши избранные объявления.</span></a>')
                    } else {
                        $.Notification.notify('success','top left','Добавлено в избранное!', '<a class="white-text" href={% url 'favorite_view' %} target=&quot;_blank&quot;><i class="icon-link"></i> <span style="text-decoration:underline">Здесь Вы можете посмотреть Ваши избранные объявления.</span></a>')
                    }
                    var fav = $('.fav');
                    var fav_text = $('.fav-text');
                    fav.toggleClass('fa-star-o').toggleClass('fa-star');
                    if (fav_text.text() == 'Добавить в избранное') {
                        fav_text.text('Удалить из избранного');
                    } else {
                        fav_text.text('Добавить в избранное')
                    }
                },
                error: function(data){
                    console.log(data)
                }
            })
        });
        $('#accept').click(function () {
            $.ajax({
                type: 'POST',
                url: '{% url 'advert_accept' %}',
                data: {'csrfmiddlewaretoken': '{{ csrf_token }}', 'id': {{ object.id }}, 'status': 'accepted' },
                success: function (data) {
                    if (data == 'error') {
                        $.Notification.notify('error','top left','Произошла ошибка!');
                    } else {
                        $('.status').html('<span>Статус: Разрешен</span>');
                        $.Notification.notify('success','top left','Объявле-ние одобрено', 'Теперь это объявление могут видеть пользователи.');
                        location.replace(data);
                    }
                    $('.admin-panel button').fadeOut(100);
                }
            })
        });
        jQuery(document).ready(function ($) {
            //Owl-Multi
            $('#owl-multi').owlCarousel({
                loop: false,
                margin: 3,
                nav: true,
                autoplay: false,
                items: 3,
                responsive: {
                    0: {items: 2},
                    480: {items: 3},
                    700: {items: 3},
                    1000: {items: 3},
                    1100: {items: 5}
                }
            });
            $('#owl-multi-2').owlCarousel({
                loop: false,
                margin: 3,
                nav: false,
                autoplay: false,
                responsive: {
                    0: {items: 1},
                    480: {items: 1},
                    700: {items: 3},
                    1000: {items: 4},
                    1100: {items: 5}
                }
            });
            $('#owl-multi-3').owlCarousel({
                loop: false,
                margin: 3,
                nav: false,
                autoplay: true,
                responsive: {
                    0: {items: 1},
                    480: {items: 1},
                    700: {items: 3},
                    1000: {items: 4},
                    1100: {items: 5}
                }
            });
        });
        $(window).resize(function () {
            setTimeout(function () {
                var height_arrow = $('.advert-detail-img-wrapper .owl-stage-outer').height();
                $('.advert-detail-img-wrapper .owl-prev,.advert-detail-img-wrapper .owl-next').css({'line-height': height_arrow + 'px'});
            }, 400);
        });
        $(window).trigger('resize');
        var advert_d_i = $('.advert-detail-other-img');
        $(advert_d_i).first().addClass('active');
        $(advert_d_i).click(function () {
            $('.load-image').attr('src', $(this).find('img').attr('src'));
            $('.image-popup').attr('href', $(this).find('img').attr('src'));
            $('.advert-detail-other-img').removeClass('active');
            $(this).addClass('active');
        });
        $('.image-popup').magnificPopup({
            type: 'image',
            closeOnContentClick: true,
            mainClass: 'mfp-fade',
            gallery: {
                enabled: true,
                navigateByImgClick: true,
                preload: [0, 1] // Will preload 0 - before current, and 1 after the current image
            }
        });
    $('.activation').click(function(){
        var obj = $(this);
        var text = obj.attr('data-text');
        var type = obj.attr('data-type');
        var amount = obj.attr('data-amount');
        var obj_class = obj.attr('data-class');
        $.notify({
            title: 'Подтвердите действие',
            text: 'С Вашего кошелька спишется <span class="bold">'+ amount + '</span> рублей<div class="clearfix"></div><br><a class="btn btn-sm btn-white yes"' +
            'data-url="' + $(this).attr('data-url') + '" data-text="' + text + '" data-type="' + type + '" data-class="' + obj_class + '">Соглсаен</a> <a class="btn btn-sm btn-danger no">Отмена</a>',
            image: "<i class=fa fa-adjust></i>"
        }, {
            style: 'metro',
            className: 'success',
            globalPosition:'left top',
            showAnimation: "show",
            showDuration: 0,
            hideDuration: 0,
            autoHide: false,
            clickToHide: false
        });
            });

        $(document).on('click', '.notifyjs-metro-base .no', function() {
          $(this).trigger('notify-hide');
        });
        $(document).on('click', '.notifyjs-metro-base .yes', function() {
            var obj = $('.'+$(this).attr('data-class'));
            var text = obj.attr('data-text');
            var type = obj.attr('data-type');
            $.get($(this).attr('data-url'), function (data) {
                if (data == 'ok') {
                    $.Notification.notify('success', 'top right', text);
                    if (type != 'up') {
                        obj.addClass('check');
                        obj.append('<span class="user-check"><i class="fa fa-check-circle"></i></span>')
                    }
                } else if (data == 'balance_error') {
                    $.Notification.notify('warning', 'top right', 'На Вашем балансе недостаточно средств!', '<a href="#!" data-toggle="modal" data-target="#up_your_balance"><i class="fa fa-rouble m-r-10"></i>Пополнить баланс</a>')
                }
            });
          //hide notification
          $(this).trigger('notify-hide');
        });
    $('#reject').click(function(){
        $(".reject-message").stop().fadeToggle(300);
    });
    $('.rejected_form').submit(function(e){
        e.preventDefault();
        var parent = $(this).parent();
        if ($('#aaa').val()){
            $.ajax({
                type:'POST',
                url:'{% url 'advert_accept' %}',
                data: $(this).serialize(),
                success: function(data){
                    if (data != 'error') {
                        $('.admin-buttons').hide();
                        $.Notification.notify('warning', 'top left', 'Объявление отклонено!');
                        parent.hide();
                        $('.status').html('<span>Статус: Отклонен</span>');
                        location.replace(data);
                    }
                },
                error: function(){
                    $.Notification.notify('warning','top left','При отправке произошла ошибка!');
                    parent.hide()
                }
            })
        } else {
            $('.r_error').show();
        }
    });
    $('.send_message').submit(function (e) {
        e.preventDefault();
        var form = this;
        var formData = new FormData(form);
        $.ajax({
            type: 'POST',
            url: $(this).attr('action'),
            processData: false,
            contentType: false,
            data: formData,
            success: function () {
                $.Notification.notify('success','top left','Ваше сообщение успешно отправлено');
                $('#con-close-modal').modal('hide');
                $(form).find('textarea').val('')
            }
        })
    });
    $('.next_img').click(function (e) {
        e.preventDefault();
        var
                img_class = '.advert-detail-other-img',
                $el = $(img_class + '.active'),
                $parent = $el.parent();
        var $next = $parent.next();
        if ($parent.index() === $(img_class).length - 1){
            $next = $parent.parent().find('.owl-item').first();
            $('#owl-multi').trigger('to.owl.carousel', [0, 200])
        }
        $el.removeClass('active');
        if (!$next.next().hasClass('active')) {
            $('#owl-multi').trigger('next.owl.carousel')
        }
        var $img = $next.find(img_class);
        $('.load-image').attr('src', $img.find('img').attr('src'));
        $img.addClass('active');
    })
    </script>
{% endblock %}
