{% extends 'base.html' %}
{% load staticfiles %}
{% block head_title %}Реклама на сайте{% endblock %}
{% block content %}
    {% include 'menu.html' %}
    <div class="myBlocks">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-8" style="margin-top: 50px; margin-bottom: 40px;">
                    <div class="row">
                <div class="col-md-8">
                    <p>
                        Ширина и высота картинки рекламного блока должна быть равна установленным значениям согласно каждому из блоков
                    </p>
                    <p>
                        Стоимость рекламных блоков указана за 1 показ на странице <br>
                        Стоимость клика по рекламному блоку составляет <span class="red">{{ settings.billboard }}</span> рублей
                        <br>
                        Рекламные блоки подбираются случайным образом
                    </p>
                    <div class="col-md-5">
                        <h3>1 блок</h3>
                        <p>Стоимость: <span class="red">{{ settings.block_1 }}</span> рублей</p>
                        <p>Ширина: <span class="red">{{ settings.width_1 }}</span> пикселей</p>
                        <p>Высота: <span class="red">{{ settings.height_1 }}</span> пикселей</p>
                    </div>
                    <div class="col-md-5 col-md-offset-1">
                        <h3>2 блок</h3>
                        <p>Стоимость: <span class="red">{{ settings.block_2 }}</span> рублей</p>
                        <p>Ширина: <span class="red">{{ settings.width_2 }}</span> пикселей</p>
                        <p>Высота: <span class="red">{{ settings.height_2 }}</span> пикселей</p>
                    </div>
                    <div class="col-md-5">
                        <h3>3 блок</h3>
                        <p>Стоимость: <span class="red">{{ settings.block_3 }}</span> рублей</p>
                        <p>Ширина: <span class="red">{{ settings.width_3 }}</span> пикселей</p>
                        <p>Высота: <span class="red">{{ settings.height_3 }}</span> пикселей</p>
                    </div>
                    <div class="col-md-5 col-md-offset-1">
                        <h3>4 блок</h3>
                        <p>Стоимость: <span class="red">{{ settings.block_4 }}</span> рублей</p>
                        <p>Ширина: <span class="red">{{ settings.width_4 }}</span> пикселей</p>
                        <p>Высота: <span class="red">{{ settings.height_4 }}</span> пикселей</p>
                    </div>
                </div>
                    <div class="col-md-4">
                        <img src="{% static 'images/advert.png' %}" alt="" style="width: 100%">
                    </div>
                        </div>
                </div>
                <div class="col-md-6 col-md-offset-3">
                    <h4 class="bold m-b-20">Есть вопросы по поводу рекламы? Пишите.</h4>
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_email">Ваш email:</label>
                            <input id="id_email" type="email" class="form-control" name="mail" required>
                        </div>
                        <div class="form-group">
                            <label for="id_text">Ваше имя:</label>
                            <input id="id_text" type="text" class="form-control" name="name" required>
                        </div>
                        <div class="form-group">
                            <label for="id_message">Сообщение:</label>
                            <textarea name="message" id="id_message" class="form-control" required></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-default waves-effect waves-light">Отправить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}