{% extends 'base.html' %}
{% load staticfiles %}
{% block head_title %}Объявления{% endblock %}
{% block styles %}

{% endblock %}
{% block content %}
    {% include 'menu.html' %}
    {% if block_1 %}
        <div class="container">
            <div class="billboard-wrap">
                <div class="billboard">
                    <a class="billboard-link" href="{{ block_1.link }}" title="{{ block_1.link }}"
                       data-id="{{ block_1.id }}">
                        <img src="/media/{{ block_1.image }}" width="{{ settings.width_1 }}" height="{{ settings.height_1 }}" alt="Billboard image">
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="all-adverts-wrap m-t-10">
        <div class="container">
            <div class="all-adverts card-box m-b-5">
                <div class="row m-0">
                    <div class="col-md-9 p-0">
                        <div class="sort-menu clearfix">
                            <div class="my-select pull-left m-l-5">
                                <form action="">
                                    <span class="pull-left m-r-10">Найдено объявлений: {{ count }}</span>
                                    <br>
                                    <select class="btn bnt-white cat-sort filters">
                                        <option value="">Все категории</option>
                                        {% for i in categories %}
                                            {% if i.url_name == request.GET.category %}
                                                <option value="category={{ i.url_name }}" selected>{{ i.name }}</option>
                                            {% else %}
                                                <option value="category={{ i.url_name }}">{{ i.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                    <select id="region" class="btn bnt-white cat-sort filters">
                                        <option value="">Вся Россия</option>
                                        {% for i in request.regions %}
                                            {% if i.url_name == request.GET.region %}
                                                <option value="region={{ i.url_name }}" selected>{{ i.name }}</option>
                                            {% else %}
                                                <option value="region={{ i.url_name }}">{{ i.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                    <select id="county" class="btn bnt-white cat-sort filters">
                                        <option value="">Все районы</option>
                                        {% for i in county %}
                                            {% if i.url_name == request.GET.county %}
                                                <option value="county={{ i.url_name }}" selected>{{ i.name }}</option>
                                            {% else %}
                                                <option value="county={{ i.url_name }}">{{ i.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                    <select id="metro" class="btn bnt-white cat-sort filters">
                                        <option value="">Все метро</option>
                                        {% for i in metros %}
                                            {% if i.url_name == request.GET.metro %}
                                                <option value="metro={{ i.url_name }}" selected>{{ i.name }}</option>
                                            {% else %}
                                                <option value="metro={{ i.url_name }}">{{ i.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                    <select id="" class="btn bnt-white cat-sort filters">
                                        <option value="">Продать / купить</option>
                                        <option value="act=sell">Продать</option>
                                        <option value="act=buy">Купить</option>
                                    </select>
                                    <select id="" class="btn bnt-white cat-sort filters">
                                        <option value="">Все типы</option>
                                        <option value="type=ready">Готовый бизнес</option>
                                        <option value="type=search">Поиск инвестиций</option>
                                        <option value="type=offer">Предложения инвесторов</option>
                                    </select>
                                    <span class="btn-my-shadow"></span>
                                </form>
                            </div>
                            <div class="filter-buttons pull-right">
                                <a class="btn btn-white" data-type="gallery" href="javascript:void(0)">
                                    <i class="ti-layout-grid2-alt"></i>
                                    <span class="btn-my-shadow"></span>
                                </a>
                                <a class="btn btn-white" data-type="list" href="javascript:void(0)">
                                    <i class="ti-layout-list-thumb-alt"></i>
                                    <span class="btn-my-shadow"></span>
                                </a>
                                <a class="btn btn-white" data-type="rows" href="javascript:void(0)">
                                    <i class="ti-layout-list-post"></i>
                                    <span class="btn-my-shadow"></span>
                                </a>
                            </div>
                        </div>
                        <hr class="m-t-0 m-b-5">
                        <div class="row m-0 advert-item-wrapper">
                            {% for advert in adverts %}
                                {#                                {% if advert.premium %}#}
                                {#                                    <span>premium</span>#}
                                {#                                {% endif %}#}
                                {#                                {% if advert.allotted %}#}
                                {#                                    <span>alloted</span>#}
                                {#                                {% endif %}#}
                                <div class="item {{ class }}" data-cost="{{ advert.cost }}"
                                     data-date="{{ advert.date }}">
                                    <div class="advert-item clearfix {% if advert.allotted %}allotted{% endif %}">
                                        <div class="advert-item-img">
                                            <a href="{% url 'advert_detail' url_name=advert.url_name pk=advert.pk %}">
                                                {% if advert.photo.all %}
                                                    <img src="/media/{{ advert.photo.first.photo }}"
                                                         alt="Картинка объявления">
                                                {% else %}
                                                    <img src="{% static 'images/ban-on-shooting.png' %}"
                                                         alt="Картинка объявления">
                                                {% endif %}
                                            </a>
                                        </div>
                                        <div class="advert-item-count-img">
                                            <span title="количество фотографий объявления">{{ advert.photo.count }}</span>
                                        </div>
                                        <div class="advert-item-name">
                                            <a href="{% url 'advert_detail' url_name=advert.url_name pk=advert.pk %}">
                                                <span>{{ advert.title }}</span>
                                            </a>
                                        </div>
                                        <div class="preview-buttons">
                                            {% if user != advert.owner %}
                                                {% if request.user.favorite in advert.favorite.all %}
                                                    <span data-id="{{ advert.pk }}" class="favorite">
                                                        <i class="fa fa-star fav"></i>
                                                    </span>
                                                {% else %}
                                                    <span data-id="{{ advert.pk }}" type="button" class="favorite">
                                                        <i class="fa fa-star-o fav"></i>
                                                    </span>
                                                {% endif %}
                                            {% endif %}
                                            <span>
                                                <i class="fa fa-eye"></i> {{ advert.visitors }}
                                            </span>
                                            <span class="advert-item-count-img">
                                                <span title="количество фотографий объявления">{{ advert.photo.count }}</span>
                                            </span>
                                        </div>
                                        <div class="advert-item-descr">
                                            <p class="animated fadeInUp">{{ advert.description }}</p>
                                        </div>
                                        <div class="advert-item-cost" data-cost="{{ advert.cost }} руб"></div>
                                        <div class="advert-item-date">
                                            <span>Размещено: {{ advert.date }}</span>
                                        </div>
                                    </div>
                                </div>
                                {% if forloop.counter == 8 %}
                                    <div class="advert-2">
                                        <a href="{{ block_2.link }}"><img src="/media/{{ block_2.image }}" alt="" width="{{ settings.width_2 }}" height="{{ settings.height_2 }}"></a>
                                    </div>
                                {% endif %}

                            {% endfor %}
                        {% if adverts.count < 8 %}
                            <div class="advert-2">
                                        <a href="{{ block_2.link }}"><img src="/media/{{ block_2.image }}" alt="" width="{{ settings.width_2 }}" height="{{ settings.height_2 }}"></a>
                                    </div>
                        {% endif %}
                        </div>
                    </div>
                    <div class="col-md-3 p-0">
                        <div class="vip-adverts">
                            <div class="header-title m-0">
                                <span>Vip объявления</span>
                            </div>
                            <div class="row m-0">
                                {% for vip in vips %}
                                    <div class="vip-item">
                                        <a href="{% url 'advert_detail' url_name=vip.url_name pk=vip.pk %}">
                                            {% if vip.photo.all %}
                                                <img src="/media/{{ vip.photo.first.photo }}" alt="{{ vip.name }}">
                                            {% else %}
                                                <img src="{% static 'images/ban-on-shooting.png' %}"
                                                     alt="Картинка объявления">
                                            {% endif %}
                                        </a>
                                        <div class="vip-descr">
                                            <a href="{% url 'advert_detail' url_name=vip.url_name pk=vip.pk %}"><span>{{ vip.title }}</span></a>
                                            <div style="text-align:center"><span class="vipprice">{{ vip.cost }}</span> руб</div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% if block_3 %}
                            <div class="advert-3">
                                <a href="{{ block_3.link }}">
                                    <img src="/media/{{ block_3.image }}" alt="advertising" width="{{ settings.width_3 }}" height="{{ settings.height_3 }}">
                                </a>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-sm-12">
                        {% if count > 16 %}
                            <ul class="pagination">
                                {% if adverts.has_previous %}
                                    <li class="pagination_button">
                                        <a href="?page={{ adverts.previous_page_number }}">Предыдущая</a>
                                    </li>
                                {% endif %}
                                <li>
                                    <span>Стр.</span>
                                </li>
                                <li class="pagination_button">
                                    <a href="">{{ adverts.number }}</a>
                                </li>
                                <li>
                                    <span>из</span>
                                </li>
                                <li class="pagination_button">
                                    <a href="">{{ adverts.paginator.num_pages }}</a>
                                </li>
                                {% if adverts.has_next %}
                                    <li class="pagination_button">
                                        <a href="?page={{ adverts.next_page_number }}">Следующая</a>
                                    </li>
                                {% endif %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if block_4 %}
                <div class="advert-4">
                    <a href="{{ block_4.link }}"><img src="/media/{{ block_4.image }}" alt="{{ block_4.image }}" width="{{ settings.width_4 }}" height="{{ settings.height_4 }}"></a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'assets/plugins/notifyjs/dist/notify.min.js' %}"></script>
    <script src="{% static 'assets/plugins/notifications/notify-metro.js' %}"></script>
    <script src="{% static 'assets/plugins/jquery-number/dist/jquery.number.min.js' %}"></script>
    <script>
    $('option[value="act={{ request.GET.act }}"]').attr('selected', 'selected');
    $('option[value="type={{ request.GET.type }}"]').attr('selected', 'selected');
    $('option[value="county={{ request.GET.county }}"]').attr('selected', 'selected');
    $('option[value="metro={{ request.GET.metro }}"]').attr('selected', 'selected');
        $(document).ready(function () {
            $('.favorite').click(function () {
                var fav = $(this);
                $.ajax({
                    type: 'POST',
                    url: '{% url 'advert_favorite' %}',
                    data: {'csrfmiddlewaretoken': '{{ csrf_token }}', 'id': $(this).attr('data-id')},
                    success: function (data) {
                        if (data == 'del') {
                            $.Notification.notify('success', 'top left', 'Удалено из избранного!', '<a class="white-text" href={% url 'favorite_view' %} target=&quot;_blank&quot;><i class="icon-link"></i> <span style="text-decoration:underline">Здесь Вы можете посмотреть Ваши избранные объявления.</span></a>')
                        } else {
                            $.Notification.notify('success', 'top left', 'Добавлено в избранное!', '<a class="white-text" href={% url 'favorite_view' %} target=&quot;_blank&quot;><i class="icon-link"></i> <span style="text-decoration:underline">Здесь Вы можете посмотреть Ваши избранные объявления.</span></a>')
                        }
                        fav.find('i.fav').toggleClass('fa-star-o').toggleClass('fa-star');
                    }
                })
            });
            function abc2(n) {
                n = new Array(5 - n.length % 3).join("U") + n;
                return n.replace(/([0-9U]{3})/g, "$1 ").replace(/U/g, "");
            }

            $.each($('.advert-item-cost'), function (index, value) {
                $(value).text(abc2($(value).attr('data-cost')));
            });
            var list;

            function height_advert() {
                $(window).resize(function () {
                    setTimeout(function () {
                        $.each($('.gallery .advert-item'), function () {
                            var i_w = $(this).width();
                            $(this).find('.advert-item-img').css({'height': i_w});
                            var i = $(this).find('.advert-item-img').height();
                            var n = $(this).find('.advert-item-name').height();
                            var c = $(this).find('.advert-item-cost').height();
                            var d = $(this).find('.advert-item-date').height();
                            $(this).parent().css({'min-height': i + n + c + d + 35});
                        });
                    }, 200);
                });
                $(window).trigger('resize');
            }

            height_advert();
            $('.filter-buttons').find('a[data-type={{ class }}]').addClass('active');
            $('.filter-buttons a').click(function () {
                $('.item').removeClass('gallery').removeClass('rows').removeClass('list').addClass($(this).attr('data-type'));
                $('.filter-buttons a').removeClass('active');
                $(this).addClass('active');
                if ($(this).attr('data-type') == 'gallery') {
                    height_advert();
                } else {
                    $('.item').css({'min-height': 'auto'})
                }
                $.ajax({
                    type: 'GET',
                    url: '{% url 'view_cookie' %}',
                    data: {'type': $(this).attr('data-type')}
                })
            });

            list = $('.advert-list');
            list.find('.item').sort(function (a, b) {
                return +a.dataset.cost - +b.dataset.cost;
            }).appendTo(list);
            function parseDate(input) {
                var parts = input.match(/(\d+)/g);
                // new Date(year, month [, date [, hours[, minutes[, seconds[, ms]]]]])
                return new Date(parts[0], parts[1] - 1, parts[2], parts[3], parts[4], parts[5]); //     months are 0-based
            }

            var cat_sort = $('.cat-sort');
            cat_sort.change(function () {
                var cat = $(this)
                var url = '?';
                $.each(cat_sort, function(i, v) {
                    if ($(this).val()) {
                        if (cat.attr('id') == 'region') {
                            if ('metro' != $(this).attr('id') != 'county') {
                                if (i == 0){
                                    url += $(this).val()
                                } else {
                                    url += '&' + $(this).val()
                                }
                            }
                        } else {
                            if (i == 0){
                                url += $(this).val()
                            } else {
                                url += '&' + $(this).val()
                            }
                        }
                    }
                });
                location.assign(url)
            });
        });
        $('.billboard-link').click(function () {
            $.ajax({
                type: 'POST',
                url: '{% url 'click_count' %}',
                data: {'csrfmiddlewaretoken': '{{ csrf_token }}', 'id': $(this).attr('data-id')}
            })
        })

        $(".vipprice").number( true, 0, ',', ' ' );
    </script>
{% endblock %}