{% extends 'base.html' %}
{% load staticfiles %}
{% block head_title %}Контакты{% endblock %}
{% block content %}
    {% include 'menu.html' %}
    <div class="myBlocks">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h4 class="bold m-b-20">Сообщение для администрации</h4>
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_email">Ваш email:</label>
                            <input id="id_email" type="email" class="form-control" name="mail" required>
                        </div>
                        <div class="form-group">
                            <label for="id_text">Ваше имя:</label>
                            <input id="id_text" type="text" class="form-control" name="name" required>
                        </div>
                        <div class="form-group">
                            <label for="id_message">Сообщение:</label>
                            <textarea name="message" id="id_message" class="form-control" required></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-default waves-effect waves-light">Отправить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
