{% extends 'base.html' %}
{% load staticfiles %}
{% block head_title %}Избранное{% endblock %}
{% block content %}
    <div class="favorite-wrap full-height">
        {% include 'menu.html' %}
        <div class="">
            <div class="container">
                {% if favorite.adverts.all %}
                    <h4 class="favorite-title">Ваши избранные объявления</h4>
                    {% for advert in favorite.adverts.all %}
                        <div class="item rows" data-cost="{{ advert.cost }}" data-date="{{ advert.date }}">
                            <div class="advert-item clearfix">
                                <div class="advert-item-count-img">
                                    <span title="количество фотографий объявления">{{ advert.photo.count }}</span>
                                </div>
                                <div class="advert-item-name">
                                    <a href="{% url 'advert_detail' url_name=advert.url_name pk=advert.pk %}">
                                        <span>{{ advert.title }}</span>
                                    </a>
                                </div>
                                <div class="preview-buttons">
                                        <span data-id="{{ advert.pk }}" class="favorite">
                                            <i class="fa fa-star fav"></i>
                                        </span>
                                    <span>
                                        <i class="fa fa-eye"></i> {{ advert.visitors }}
                                    </span>
                                </div>
                                <div class="advert-item-cost" data-cost="{{ advert.cost }} руб"></div>
                                <div class="advert-item-date">
                                    <span>Размещено: {{ advert.date }}</span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <h4 class="favorite-title">У Вас нет избранных объявлений</h4>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'assets/plugins/notifyjs/dist/notify.min.js' %}"></script>
    <script src="{% static 'assets/plugins/notifications/notify-metro.js' %}"></script>
    <script>
        $(window).resize(function () {
            var h = $(window).height();
            var n = $('nav').height();
            $('.full-height').css({'min-height': h - n});
        });
        $(window).trigger('resize');
        function abc2(n) {
            n = new Array(5 - n.length % 3).join("U") + n;
            return n.replace(/([0-9U]{3})/g, "$1 ").replace(/U/g, "");
        }
        $.each($('.advert-item-cost'), function (index, value) {
            $(value).text(abc2($(value).attr('data-cost')))
        });
        $('.favorite').click(function () {
            var fav = $(this);
            $.ajax({
                type: 'POST',
                url: '{% url 'advert_favorite' %}',
                data: {'csrfmiddlewaretoken': '{{ csrf_token }}', 'id': $(this).attr('data-id')},
                success: function (data) {
                    if (data == 'del') {
                        $.Notification.notify('success', 'top left', 'Удалено из избранного!')
                    } else {
                        $.Notification.notify('success', 'top left', 'Добавлено в избранное!')
                    }
                    fav.find('i.fav').toggleClass('fa-star-o').toggleClass('fa-star');
                }
            })
        });
    </script>
{% endblock %}
