{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block head_title %}Главная страница{% endblock %}
{% block styles %}
    <link href="{% static 'assets/plugins/owl.carousel/dist/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/plugins/owl.carousel/dist/assets/owl.theme.default.min.css' %}" rel="stylesheet">
{% endblock %}
{% block preloader %}
<div id="depreload" class="table">
    <div class="table-cell wrapper">
        <div class="circle">
            <canvas class="line" width="360" height="360"></canvas>
            <span class="dep-logo">
                <img src="{% static 'images/logo-bdk (1).png' %}" alt="Логотип Biznesdesk.ru">
                <span class="perc"></span>
            </span>
            <span class="depreload-text">Biznesdesk.ru - Сервис по продаже бизнеса.</span>
        </div>
    </div>
    <span class="openLeft"></span>
    <span class="openRight"></span>
</div>
    <script>
    //События до загрузки документа
    var depreload = $('#depreload');
    setTimeout(function () {
        depreload.find(".wrapper").animate({opacity: 1});
    }, 400);

    setTimeout(function () {
        depreload.find(".logo-left").animate({opacity: 1});
    }, 800);

    var canvas = depreload.find(".line")[0],
            context = canvas.getContext("2d");

    context.beginPath();
    context.arc(180, 180, 160, Math.PI * 1.5, Math.PI * 1.6);
    context.strokeStyle = '#0CB863';
    context.lineWidth = 5;
    context.stroke();

    var loader = $("body").DEPreLoad({
        OnStep: function (percent) {
            //console.log(percent + '%');
            $(".process-val").text(percent + "%");
            depreload.find(".line").animate({opacity: 1});
            depreload.find(".perc").text(percent + "%");

            if (percent > 5) {
                context.clearRect(0, 0, canvas.width, canvas.height);
                context.beginPath();
                context.arc(180, 180, 160, Math.PI * 1.5, Math.PI * (1.5 + percent / 50), false);
                context.stroke();
            }
        },
        OnComplete: function () {
            //console.log('Everything loaded!');
            setTimeout(function(){
                depreload.find(".perc").text("Готово");
                depreload.find(".circle").animate({opacity: 0});
                $(".openLeft").stop().delay(500).animate({width: '0'});
                $(".openRight").stop().delay(500).animate({width: '0'});
                depreload.delay(1000).fadeOut(300);
            },1000);
        }
    });

    </script>

{% endblock %}
{% block content %}
    <header class="home-header" style="overflow: auto">
        <div class="home-header-caption">
            <p class="m-b-20">Сервис по продаже бизнеса - проще, быстрее...</p>
            <div>
                <a href="{% url 'advert_create' %}" class="btn btn-default waves-effect waves-light">Подать объявление</a>
            </div>
        </div>
        <div class="home-header-blur"></div>
    </header>
    <section class="home-cities">
        <div class="menu-general-view-wrapper margin-home-header">
            <div class="menu-general-view">
                <a class="add-ads" href="{% url 'advert_create' %}" title="Подать объявление"><span class="animated fadeInDown"><i class="ti-plus waves-effect waves-light"></i></span></a>
                <div class="show-menu-button">
                    <div class="btn btn-white"><i class="fa fa-bars"></i></div>
                </div>
                <div class="catalog-view">
                    <ul>
                        <li><a href="{% url 'advert_list' %}" class="btn btn-inverse waves-effect waves-light">Объявления</a></li>
                        <li><a href="{% url 'shop_list' %}" class="btn btn-inverse waves-effect waves-light">Магазины</a></li>
                        <li><a href="{% url 'favorite_view' %}" class="btn btn-inverse waves-effect waves-light">Избранное</a></li>
                        <li><a href="{% url 'terms' %}" class="btn btn-inverse waves-effect waves-light">Соглашение</a></li>
                        <li><a href="{% url 'advertising' %}" class="btn btn-inverse waves-effect waves-light">Реклама на сайте</a></li>
                        <li><a href="{% url 'contacts' %}" class="btn btn-inverse waves-effect waves-light">Контакты</a></li>
                    </ul>
                </div>
                <div class="menu-control pull-right">
                    <ul class="nav navbar-nav pull-right">
                        {% if not user.is_authenticated %}
                            <li>
                                <a href="{% url 'account_login' %}" class="waves-effect waves-light sing-in" title="Войти"><i class="icon-userTTT"></i></a>
                            </li>
                        {% else %}
                            <li class="dropdown">
                                <a href="" class="dropdown-toggle profile" data-toggle="dropdown"
                                   aria-expanded="true"><span class="img-circle" style="background:url('{% if user.profile.photo %}/media/{{ user.profile.photo }}{% else %}{% static 'images/user.png' %}{% endif %}') no-repeat center;background-size:cover"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'profile:general' %}"><i class="ti-user m-r-5"></i> {{ user.first_name }} {{ user.last_name }}</a></li>
                                    <li><a href="javascript:void(0)" id="sa-warning2"><i class="ti-power-off m-r-5"></i> Выйти</a></li>
                                </ul>
                            </li>
                        {% endif %}
                        <li>
                            <a class="go-to-top" href="javascript:void(0)" title="Вверх"><i class="icon-arrow-up-circle"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <ul class="cities-wrap">
            {% for region in regions %}
                <li><a href="{% url 'advert_list' %}?region={{ region.url_name }}" class="btn btn-inverse btn-custom waves-effect waves-light">{{ region.name }}</a></li>
            {% endfor %}
            </ul>
        </div>
    </section>
    <section class="home-owl">
        <div class="header-title myRed">
            <span>Vip объявления</span>
        </div>
        <div class="container">
            <div class="owl-carousel owl-theme" id="owl-home-vip-multi">
                {% for vip in vips %}
                    <div class="owl-carousel-item"  style="z-index:-1!important">
                        <a href="{% url 'advert_detail' url_name=vip.url_name pk=vip.pk %}">
                            {% if vip.photo.all %}
                                <img src="/media/{{ vip.photo.first.photo }}" alt="{{ vip.name }}">
                            {% else %}
                                <img class="" src="{% static 'images/ban-on-shooting.png' %}" alt="Картинка объявления">
                            {% endif %}
                        </a>
                    <span>
                        <div class="vip-descr">
                            <a href="{% url 'advert_detail' url_name=vip.url_name pk=vip.pk %}"><span>{{ vip.title }}</span></a>
                            <span><span class="advert-detail-cost" data-cost="{{ vip.cost }}"></span></span>
                        </div>
                    </span>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="home-owl">
        <div class="header-title myBlue">
            <span>Up объявления</span>
        </div>
        <div class="container">
            <div class="owl-carousel owl-theme" id="owl-home-up-multi">
                {% if ups %}
                    {% for up in ups %}
                        <div class="owl-carousel-item">
                            <a href="{% url 'advert_detail' url_name=up.url_name pk=up.pk %}">
                                {% if up.photo.all %}
                                    <img src="/media/{{ up.photo.first.photo }}" alt="{{ up.name }}">
                                {% else %}
                                    <img class="" src="{% static 'images/ban-on-shooting.png' %}" alt="Картинка объявления">
                                {% endif %}
                            </a>
                        <span>
                            <div class="vip-descr">
                                <a href="{% url 'advert_detail' url_name=up.url_name pk=up.pk %}"><span>{{ up.title }}</span></a>
                                <span><span class="advert-detail-cost" data-cost="{{ up.cost }}"></span></span>
                            </div>
                        </span>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    {% if vips or ups %}
        <script src="{% static 'assets/plugins/owl.carousel/dist/owl.carousel.min.js' %}"></script>
    {% endif %}
    <script>
    $(document).ready(function(){
        function abc2(n) {
            n += "";
            n = new Array(4 - n.length % 3).join("U") + n;
            return n.replace(/([0-9U]{3})/g, "$1 ").replace(/U/g, "");
        }
        $.each($('.advert-detail-cost'),function(index,val){
           $(val).text(abc2($(val).attr('data-cost') + 'руб'));
        });
        $(window).scroll(function(){
            var s = $(this).scrollTop();
            console.log('scrolled');
            if(s >= 150){
                $('.home-header-caption').css({'transform':'scale(0) translateY(-500%) translateX(-50%)'});
            }else if(s <= 150){
                $('.home-header-caption').css({'transform':'scale(1) translateY(-50%) translateX(-50%)'});
            }
            var menu = $('.menu-general-view-wrapper').offset().top;
            var h = $('.home-cities').offset().top - 150;
            if($(window).scrollTop() >= menu) {
                $('.menu-general-view-wrapper').addClass('fixed');
                $('.menu-control>ul').addClass('animated fadeInRight');
            }else{
                $('.menu-general-view-wrapper').removeClass('fixed');
                $('.menu-control>ul').removeClass('animated fadeInRight');
            }
            if($(window).width() > 768){
                if($(window).scrollTop() >= h){
                    $('.margin-home-header').css({'margin-top':'0'});
                    $('.home-cities').css({'background':'#fff'});
                }else{
                    $('.margin-home-header').css({'margin-top':'-46px'});
                    $('.home-cities').css({'background':'transparent'});
                }
            }
        });
        $('.btn-header').mouseover(function(){
           $('.home-header-blur').css({'-webkit-filter':'blur(2px)','-o-filter':'blur(2px)','-moz-filter':'blur(2px)','-ms-filter':'blur(2px)','filter':'blur(2px)'});
        });
        $('.btn-header').mouseleave(function(){
           $('.home-header-blur').css({'-webkit-filter':'blur(0)','-o-filter':'blur(0)','-moz-filter':'blur(0)','-ms-filter':'blur(0)','filter':'blur(0)}'});
        });
        $(window).resize(function(){
            var h = $(window).height();
            var n = $('nav').height();
            $('.home-header').css({'height':h - n});
        });
        $(window).trigger('resize');
        $(function () {
            $('.go-to-top').click(function () {
                $('html, body').animate({scrollTop: 0}, 800);
            });
        });
        //Owl-Multi
        {% if vips %}
        $('#owl-home-vip-multi').owlCarousel({
            loop: true,
            margin: 10,
            nav: false,
            autoplay: true,
            responsive: {
                0: {items: 1},
                480: {items: 1},
                700: {items: 3},
                1000: {items: 4},
                1100: {items: 5}
            }
        });
        {% endif %}
        {% if ups %}
        $('#owl-home-up-multi').owlCarousel({
            loop: true,
            margin: 10,
            nav: false,
            autoplay: true,
            responsive: {
                0: {items: 1},
                480: {items: 1},
                700: {items: 3},
                1000: {items: 4},
                1100: {items: 5}
            }
        });
        {% endif %}
        $('.show-menu-button').click(function(){
           $('.catalog-view').toggleClass('active');
        });
    });
    </script>
{% endblock %}
