{% load staticfiles %}
<div class="menu-general-view-wrapper">
    <div class="menu-general-view">
        <a class="add-ads" href="{% url 'advert_create' %}" title="Подать объявление"><span class="animated fadeInDown"><i class="ti-plus waves-effect waves-light"></i></span></a>
        <div class="show-menu-button">
            <div class="btn btn-white"><i class="fa fa-bars"></i></div>
        </div>
        <div class="catalog-view">
            <ul>
                <li><a href="{% url 'advert_list' %}" class="btn btn-inverse waves-effect waves-light">Объявления</a></li>
                <li><a href="{% url 'shop_list' %}" class="btn btn-inverse waves-effect waves-light">Магазины</a></li>
                <li><a href="{% url 'favorite_view' %}" class="btn btn-inverse waves-effect waves-light">Избранное</a></li>
                <li><a href="{% url 'terms' %}" class="btn btn-inverse waves-effect waves-light">Соглашение</a></li>
                <li><a href="{% url 'advertising' %}" class="btn btn-inverse waves-effect waves-light">Реклама на сайте</a></li>
                <li><a href="{% url 'contacts' %}" class="btn btn-inverse waves-effect waves-light">Контакты</a></li>
            </ul>
        </div>
        <div class="menu-control pull-right">
            <ul class="nav navbar-nav pull-right">
                {% if not user.is_authenticated %}
                    <li>
                        <a href="{% url 'account_login' %}" class="waves-effect waves-light sing-in" title="Войти"><i class="icon-userTTT"></i></a>
                    </li>
                {% else %}
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle profile" data-toggle="dropdown"
                           aria-expanded="true"><span class="img-circle" style="background:url('{% if user.profile.photo %}/media/{{ user.profile.photo }}{% else %}{% static 'images/user.png' %}{% endif %}') no-repeat center;background-size:cover"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'profile:general' %}"><i class="ti-user m-r-5"></i> {{ user.first_name }} {{ user.last_name }}</a></li>
                            <li><a href="javascript:void(0)" data-toggle="modal" data-target="#up_your_balance"><i class='fa fa-rouble m-r-10'></i> Пополнить баланс</a>
                            <li><a href="javascript:void(0)" id="sa-warning2"><i class="ti-power-off m-r-5"></i> Выйти</a></li>
                        </ul>
                    </li>
                {% endif %}
                <li>
                    <a class="go-to-top" href="javascript:void(0)" title="Вверх"><i class="icon-arrow-up-circle"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% block scripts %}
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script>
    $(document).ready(function(){
        $(window).scroll(function(){
            var menu = $('.menu-general-view-wrapper').offset().top;
            if($(window).scrollTop() >= menu){
                $('.menu-general-view-wrapper').addClass('fixed');
                $('.menu-control>ul').addClass('animated fadeInRight');
            }else{
                $('.menu-general-view-wrapper').removeClass('fixed');
                $('.menu-control>ul').removeClass('animated fadeInRight');
            }
        });
        $(function () {
            $('.go-to-top').click(function () {
                $('html, body').animate({scrollTop: 0}, 800);
                return false;
            });
        });
        var url = document.location.href;
        $.each($('.catalog-view>ul>li>a'),function(){
           if(this.href==url){$(this).addClass('active');};
        });
        $('.show-menu-button').click(function(){
           $('.catalog-view').toggleClass('active');
        });
    });
</script>
{% endblock %}