{% load staticfiles %}
<div class="search-result-inner">
    {% for advert in adverts %}
        <div>
            <a class="clearfix" href="{% url 'advert_detail' url_name=advert.url_name pk=advert.pk %}">
                <span class="result-img circle-img" style="background:transparent url('{% if advert.photo.all %}/media/{{ advert.photo.first.photo }}{% else %}{% static 'images/ban-on-shooting.png' %}{% endif %}') no-repeat center;background-size:cover"></span>
                <span class="result-text">{{ advert.title }}</span>
            </a>
        </div>
    {% endfor %}
</div>