{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block head_title %}{% if object %}Редактирование{% else %}Создание{% endif %} магазина {% if object %} - {{ object.owner.first_name }} {{ object.owner.last_name }}{% endif %}{% endblock %}
{% block content %}
    {% include 'menu.html' %}
    <div class="row m-0">
        <div class="card-box col-md-10 col-md-offset-1">
            <div class="col-md-12">
                <span class="header-title">{% if object %}Редактирование{% else %}Создание{% endif %} магазина</span>
                <hr class="m-t-10 m-b-10">
            </div>
            <div class="col-sm-9">
                <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group col-sm-12">
                        <label for="id_name">Название магазина: *</label>
                        {{ form.name|add_class:'form-control' }}
                        {{ form.name.errors }}
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="id_alias">URL магазина: * <span class="normal">Например: <span class="bold text-red">http://biznesdesk.ru/magazin/</span> - где <span class="bold text-red">magazin</span> URL магазина</span></label>
                        {{ form.alias|add_class:'form-control' }}
                        {{ form.alias.errors }}
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="id_region">Выберите регион: *</label>
                        {{ form.region|add_class:'form-control' }}
                        {{ form.region.errors }}
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="id_anons">Анонс</label>
                        {{ form.anons|add_class:'form-control'|attr:'placeholder:Поле для текста' }}
                        {{ form.anons.errors }}
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="id_description">Подробности: *</label>
                        {{ form.description|add_class:'form-control'|attr:'placeholder:Поле для текста' }}
                        {{ form.description.errors }}
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="id_site">Ссылка на сайт:</label>
                        {{ form.site|add_class:'form-control' }}
                        {{ form.site.errors }}
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="id_person">Контактное лицо:</label>
                        {% if form.person.value %}
                        {{ form.person|add_class:'form-control'|attr:'readonly' }}
                        {% else %}
                            {{ form.person|add_class:'form-control' }}
                        {% endif %}
                        {{ form.person.errors }}
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="id_logo">Лого: *</label>
                        {{ form.logo|add_class:'filestyle'|attr:'data-buttonname:btn-primary' }}
                        {{ form.logo.errors }}
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="id_site">Ссылка на видео с YouTube:</label>
                        {{ form.video|add_class:'form-control' }}
                        {{ form.video.errors }}
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="id_site">Телефон:</label>
                        {{ form.phones|add_class:'form-control'|attr:'data-mask:8 (999) 999-9999' }}
                        <span class="font-13 text-muted">Пример: 8 (495) 999-9999</span>
                        {{ form.phones.errors }}
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="id_site">Режим работы:</label>
                        {{ form.mode|add_class:'form-control'|attr:'data-mask:с 99-99 до 99-99' }}
                        <span class="font-13 text-muted">Пример: с 9:00 до 18:00</span>
                        {{ form.mode.errors }}
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="id_site">Адрес:</label>
                        {{ form.address|add_class:'form-control' }}
                        {{ form.address.errors }}
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="id_site">Skype:</label>
                        {{ form.skype|add_class:'form-control' }}
                        {{ form.skype.errors }}
                    </div>
                <div style="margin-bottom: 20px;" class="backgrounds">
                    {% for image in images %}
                        <img style="width: 100px; padding: 3px"
                             class="{% if image.image == object.background %}active{% endif %} image"
                             src="{{ image.image.url }}" alt="" data-id="{{ image.id }}">
                    {% endfor %}
                    {{ form.image }}
                    </div>
                    <button class="btn btn-rounded btn-default waves-effect waves-light" type="submit">
                        {% if object %}
                            Сохранить
                        {% else %}
                            Создать
                        {% endif %}
                    </button>
                </form>
            </div>
                                        <div class="form-group col-md-12 clearfix">
                                    <label class="col-lg-12 control-label ">(*) Обязательное поле</label>
                                </div>
            <div class="col-sm-3">

            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'assets/plugins/bootstrap-filestyle/src/bootstrap-filestyle.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/plugins/bootstrap-inputmask/bootstrap-inputmask.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/plugins/autoNumeric/autoNumeric.js' %}" type="text/javascript"></script>
    <script>
    $('.image').click(function () {
        if ($(this).hasClass('active')){
            $(this).removeClass('active');
            $('#id_image').val(null)
        } else {
            $('.image.active').removeClass('active');
            $(this).addClass('active');
            $('#id_image').val($(this).attr('data-id'))
        }
    })
    </script>
{% endblock %}