{% extends 'base.html' %}
{% load staticfiles %}
{% block head_title %}{{ object.name }}{% endblock %}
{% block content %}
    <div class="shop-detail full-height"
         style="background:#fff url('/media/{{ object.background }}') no-repeat fixed;background-size:cover">
        {% include 'menu.html' %}
        <div class="container">
            {% if user.id == object.owner_id %}
                <a class="btn my-round-btn btn-rounded waves-effect waves-light"
                   href="{% url 'shop_update' alias=object.alias %}" title="Редактировать"><i
                        class="glyphicon glyphicon-pencil"></i></a>
            {% endif %}
            <div class="row m-0">
                <div class="col-sm-12 col-md-10 col-md-offset-1">
                    <div class="shop-inner">
                        <div class="shop-name align-center"><span class="shop-shadow align-center">{{ object.name }}</span></div>
                        <div class="shop-description row">
                            <div class="col-md-12"><p class="shop-shadow align-center">{{ object.description }}</p></div>
                            {% if object.owner.first_name or object.owner.last_name %}
                            <div class="col-md-12"><span class="name">Владелец: </span>{{ object.owner.first_name }} {{ object.owner.last_name }}</div>
                            {% endif %}
                        {% if object.phones %}
                            <div class="col-md-12"><span class="name">Контактный телефон: </span>{{ object.phones }}</div>
                        {% endif %}
                        {% if object.region %}
                            <div class="col-md-12"><span class="name">Регион: </span>{{ object.region.name }}</div>
                        {% endif %}
                        {% if object.site %}
                            <div class="col-md-12"><span class="name">Сайт магазина: </span>{{ object.site }}</div>
                        {% endif %}
                        {% if object.mode %}
                            <div class="col-md-12"><span class="name">Часы работы: </span>{{ object.mode }}</div>
                        {% endif %}
                        {% if object.address %}
                            <div class="col-md-12"><span class="name">Адрес: </span>{{ object.address }}</div>
                        {% endif %}
                        {% if object.video %}
                            <div class="col-md-12"><span class="name">Канал на YouTube: </span>{{ object.video }}</div>
                        {% endif %}
                        {% if object.skype %}
                            <div class="col-md-12"><span class="name">Логин Skype: </span>{{ object.skype }}</div>
                        {% endif %}
                        </div>
                        <div class="" style="padding: 20px 0 ">
                            {% for advert in object.shop_item.all %}
                                <div class="item list" data-date="{{ advert.date }}">
                                    <div class="advert-item shop-shadow clearfix">
                                        <div class="advert-item-img">
                                            <a href="{% url 'advert_detail' url_name=advert.url_name pk=advert.pk %}">
                                                {% if advert.photo.all %}
                                                    <img src="/media/{{ advert.photo.first.photo }}"
                                                         alt="Картинка объявления">
                                                {% else %}
                                                    <img src="{% static 'images/ban-on-shooting.png' %}"
                                                         alt="Картинка объявления">
                                                {% endif %}
                                            </a>
                                        </div>
                                        <div class="advert-item-count-img">
                                            <span title="количество фотографий объявления">{{ advert.photo.count }}</span>
                                        </div>
                                        <div class="advert-item-name">
                                            <a href="{% url 'advert_detail' url_name=advert.url_name pk=advert.pk %}">
                                                <span>{{ advert.title }}</span>
                                            </a>
                                        </div>
                                        <div class="preview-buttons">
                                            {% if user != advert.owner %}
                                                {% if request.user.favorite in advert.favorite.all %}
                                                    <span data-id="{{ advert.pk }}" class="favorite">
                                                        <i class="fa fa-star fav"></i>
                                                    </span>
                                                {% else %}
                                                    <span data-id="{{ advert.pk }}" type="button" class="favorite">
                                                        <i class="fa fa-star-o fav"></i>
                                                    </span>
                                                {% endif %}
                                            {% endif %}
                                            <span>
                                                <i class="fa fa-eye"></i> {{ advert.visitors }}
                                            </span>
                                            <div class="advert-item-count-img">
                                                <span title="количество фотографий объявления">{{ advert.photo.count }}</span>
                                            </div>
                                        </div>
                                        <div class="advert-item-descr">
                                            <span class="animated fadeInUp">{{ advert.name }}</span>
                                            <p class="animated fadeInUp">{{ advert.description }}</p>
                                        </div>
                                        <div class="advert-item-cost" data-cost="{{ advert.cost }} руб"></div>
                                        <div class="advert-item-date">
                                            <span>Добавлено: {{ advert.date }}</span>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if object.owner == request.user %}
        {% if not_paid %}
            {% if enough %}
                <div class="pay_notify bg-warning">
                    <p>
                        <i class="fa fa-warning"></i>
                        Ваш магазин не активирован.
                        Для активации подтвердите платеж в {{ shop_cost }} рублей.
                    </p>
                    <button class="btn btn-default waves-effect waves-light pay_confirm"><i
                            class='fa fa-rouble m-r-10'></i>
                        Подтвердить
                    </button>
                </div>
            {% else %}
                <div class="pay_notify bg-warning">
                    <p>
                        <i class="fa fa-warning"></i>
                        Для активации магазина недостаточно средств
                    </p>
                    <a class="btn btn-default waves-effect waves-light" href="#!" data-toggle="modal"
                       data-target="#up_your_balance"><i
                            class='fa fa-rouble m-r-10'></i>
                        Пополнить баланс</a>
                </div>
            {% endif %}
        {% elif object.active_days < 7 %}
            <div class="pay_notify bg-warning">
                <p>
                    <i class="fa fa-warning"></i>

                    <b>Внимание!</b>
                </p>
                <p>Срок действия Вашего магазина истекает.
                Осталось <b>{{ object.active_days }}</b> {% if object.active_days > 4 or object.active_days == 0 %} дней{% else %} дня{% endif %}.</p>
                <p>Стоимость магазина: <b>{{ project.shop }}</b> рублей за <b>{{ project.active_days }}</b> дней.</p>
                    <button class="btn btn-default waves-effect waves-light pay_confirm"><i
                            class='fa fa-rouble m-r-10'></i>
                        Оплатить
                    </button>
                <span class="close_notify"
                      style="position: absolute; top: 5px; right: 10px; cursor: pointer;"><b>X</b></span>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
{% block scripts %}
    <script src="{% static 'assets/plugins/notifyjs/dist/notify.min.js' %}"></script>
    <script src="{% static 'assets/plugins/notifications/notify-metro.js' %}"></script>
    <script>
        $('.pay_confirm').click(function () {
            $.ajax({
                type: 'POST',
                url: '{% url 'shop_payment' %}',
                data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
                success: function (data) {
                    if (data != 'balance error') {
                        $('.pay_notify').hide();
                        $.Notification.notify('success', 'top left', 'Магазин активирован!', 'С вашего баланса снято ' + data + ' рублей.')
                    } else if (data == 'balance error') {
                        $('.pay_notify').hide();
                        $.Notification.notify('warning', 'top left', 'Недостаточно средств. ' +
                                '<br> ' +
                                '<span class="btn waves-effect waves-light" href="#!" data-toggle="modal" data-target="#up_your_balance"><i class="fa fa-rouble m-r-10"></i>Пополнить баланс</span>' +
                                '<span class="btn waves-effect waves-light">Закрыть</span>', {delay: 0})
                    }
                }
            })
        });
        $(window).resize(function () {
            var h = $(window).height();
            var n = $('nav').height();
            $('.full-height').css({'min-height': h - n});
            if($(window).width() <= 768){
                $('.shop-inner').find('.item').removeClass('list').addClass('gallery');
            }else{
                $('.shop-inner').find('.item').removeClass('gallery').addClass('list');
            }
        });
        $(window).trigger('resize');
        function abc2(n) {
            n = new Array(5 - n.length % 3).join("U") + n;
            return n.replace(/([0-9U]{3})/g, "$1 ").replace(/U/g, "");
        }
        $.each($('.advert-item-cost'), function (index, value) {
            $(value).text(abc2($(value).attr('data-cost')))
        });
        $('.favorite').click(function () {
            var fav = $(this);
            $.ajax({
                type: 'POST',
                url: '{% url 'advert_favorite' %}',
                data: {'csrfmiddlewaretoken': '{{ csrf_token }}', 'id': $(this).attr('data-id')},
                success: function (data) {
                    if (data == 'del') {
                        $.Notification.notify('success', 'top left', 'Удалено из избранного!')
                    } else {
                        $.Notification.notify('success', 'top left', 'Добавлено в избранное!')
                    }
                    fav.find('i.fav').toggleClass('fa-star-o').toggleClass('fa-star');
                }
            })
        });
            $('.close_notify').click(function () {
            $('.pay_notify').hide()
        })
    </script>
{% endblock %}