{% extends 'base.html' %}
{% load staticfiles %}
{% block head_title %}Магазины{% endblock %}
{% block content %}
    {% include 'menu.html' %}
    {% if billboard %}
    <div class="container">
        <div class="billboard-wrap">
            <div class="billboard">
                <a class="billboard-link" href="{{ billboard.link }}" title="{{ billboard.link }}">
                    <img src="/media/{{ billboard.image }}" alt="Billboard image">
                </a>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="all-adverts-wrap m-t-10">
        <div class="container">
            <div class="all-adverts card-box">
                <div class="row">
                    <div class="col-md-9 p-0">
                        <div class="sort-menu clearfix">
                            <div class="my-select pull-left m-l-5">
                                <form action="" method="get">
                                    <select name="region" class="btn bnt-white">
                                        <option value="all">Вся Россия</option>
                                        {% for region in regions %}
                                            <option {% if region.url_name == region_get %}selected{% endif %} value="{{ region.url_name }}">{{ region.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <span class="btn-my-shadow"></span>
                                    <button class="btn btn-white" type="submit">ок</button>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <span class="pull-right m-r-10">Найдено магазинов: {{ shops.count }}</span>
                        </div>
                        <hr class="m-t-0 m-b-5">
                        <div class="row m-0 advert-item-wrapper">
                            {% for shop in shops %}
                                <div class="item list">
                                    <div class="advert-item clearfix">
                                        <div class="advert-item-img">
                                            <a href="{% url 'shop_detail' alias=shop.alias %}">
                                                <img src="/media/{{ shop.logo }}" alt="Картинка магазина">
                                            </a>
                                        </div>
                                        <div class="advert-item-name">
                                            <a href="{% url 'shop_detail' alias=shop.alias %}">
                                                <span>{{ shop.name }}</span>
                                            </a>
                                        </div>
                                        <div class="advert-item-descr">
                                            <p class="animated fadeInUp">{{ shop.description }}</p>
                                        </div>
                                        <div class="advert-item-cost shop-list">
                                            <span>{{ shop.owner.first_name }} {{ shop.owner.last_name }}</span>
                                        </div>
                                        <div class="advert-item-date">
                                            <span>Дата создания: {{ shop.date }}</span>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-3 p-0">
                        <div class="vip-adverts">
                            <div class="header-title">
                                <span>Vip объявления</span>
                            </div>
                            <div class="row m-0">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function () {
            function height_advert(){
                $.each($('.item.gallery .advert-item'), function(){
                    var i = $(this).find('.advert-item-img').height();
                    var n = $(this).find('.advert-item-name').height();
                    var c = $(this).find('.advert-item-cost').height();
                    var d = $(this).find('.advert-item-date').height();
                    $(this).parent().css({'min-height': i + n + c + d + 50});
                })
            }
            var $list;
            if('{{ class }}' != 'None') {
                $('.filter-buttons').find('a[data-type={{ class }}]').addClass('active');
            }else{
                $('.filter-buttons').find('a:first-child').addClass('active');
            }
            $('.filter-buttons a').click(function () {
                $.ajax({
                    type: 'GET',
                    url: '{% url 'view_cookie' %}',
                    data: {'type': $(this).attr('data-type')},
                    success: function (data) {
                        $('.item').removeClass('gallery').removeClass('rows').removeClass('list').addClass(data);
                        $('.filter-buttons a').removeClass('active');
                        $('.filter-buttons').find('a[data-type=' + data + ']').addClass('active');
                        if (data == 'gallery') {
                            height_advert();
                        } else {
                            $('.item').css({'min-height': '0px'})
                        }
                    }
                })
            });

            $list = $('.advert-list');
            $list.find('.item').sort(function(a, b){
                return +a.dataset.cost - +b.dataset.cost;
            }).appendTo($list);
            function parseDate(input) {
                var parts = input.match(/(\d+)/g);
                // new Date(year, month [, date [, hours[, minutes[, seconds[, ms]]]]])
                return new Date(parts[0], parts[1] - 1, parts[2], parts[3], parts[4], parts[5]); //     months are 0-based
            }

            $('.sort').change(function () {
                var val = $(this).val();
                if(val == 'date'){
                    $list = $('.advert-item-wrapper');
                    $list.find('.item').sort(function (a, b) {
                        return parseDate($(a).attr('date')) < parseDate($(b).attr('date'));
                    }).appendTo($list);
                }else if(val == 'cost_up'){
                    $list = $('.advert-item-wrapper');
                    $list.find('.item').sort(function (a, b) {
                        return +a.dataset.cost - +b.dataset.cost;
                    }).appendTo($list);
                }else if(val == 'cost_down'){
                    $list = $('.advert-item-wrapper');
                    $list.find('.item').sort(function (a, b) {
                        return +b.dataset.cost - +a.dataset.cost;
                    }).appendTo($list);
                }
            });
            height_advert();
        });
    </script>
{% endblock %}