{% extends 'base.html' %}
{% load staticfiles %}
{% block head_title %}Соглашение{% endblock %}
{% block content %}
    {% include 'menu.html' %}
    <div class="myBlocks">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h4 class="bold">Условия использования</h4>
                    <p>Настоящее Соглашение определяет условия использования Пользователями материалов и сервисов сайта biznesdesk.ru (далее — «Сайт»).</p>
                    <h5 class="bold">1.Общие условия</h5>
                    <p>1.1. Использование материалов и сервисов Сайта регулируется нормами действующего законодательства Российской Федерации.</p>
                    <p>1.2. Настоящее Соглашение является публичной офертой. Получая доступ к материалам Сайта Пользователь считается присоединившимся к настоящему Соглашению.</p>
                    <p>1.3. Администрация Сайта вправе в любое время в одностороннем порядке изменять условия настоящего Соглашения. Такие изменения вступают в силу по истечении 3 (Трех) дней с момента размещения новой версии Соглашения на сайте. При несогласии Пользователя с внесенными изменениями он обязан отказаться от доступа к Сайту, прекратить использование материалов и сервисов Сайта.</p>
                    <h5 class="bold">2. Обязательства Пользователя</h5>
                    <p>2.1. Пользователь соглашается не предпринимать действий, которые могут рассматриваться как нарушающие российское законодательство или нормы международного права, в том числе в сфере интеллектуальной собственности, авторских и/или смежных правах, а также любых действий, которые приводят или могут привести к нарушению нормальной работы Сайта и сервисов Сайта.</p>
                    <p>2.2. Использование материалов Сайта без согласия правообладателей не допускается (статья 1270 Г.К РФ). Для правомерного использования материалов Сайта необходимо заключение лицензионных договоров (получение лицензий) от Правообладателей.</p>
                    <p>2.3. При цитировании материалов Сайта, включая охраняемые авторские произведения, ссылка на Сайт обязательна (подпункт 1 пункта 1 статьи 1274 Г.К РФ).</p>
                    <p>2.4. Комментарии и иные записи Пользователя на Сайте не должны вступать в противоречие с требованиями законодательства Российской Федерации и общепринятых норм морали и нравственности.</p>
                    <p>2.5. Пользователь предупрежден о том, что Администрация Сайта не несет ответственности за посещение и использование им внешних ресурсов, ссылки на которые могут содержаться на сайте.</p>
                    <p>2.6. Пользователь согласен с тем, что Администрация Сайта не несет ответственности и не имеет прямых или косвенных обязательств перед Пользователем в связи с любыми возможными или возникшими потерями или убытками, связанными с любым содержанием Сайта, регистрацией авторских прав и сведениями о такой регистрации, товарами или услугами, доступными на или полученными через внешние сайты или ресурсы либо иные контакты Пользователя, в которые он вступил, используя размещенную на Сайте информацию или ссылки на внешние ресурсы.</p>
                    <p>2.7. Пользователь принимает положение о том, что все материалы и сервисы Сайта или любая их часть могут сопровождаться рекламой. Пользователь согласен с тем, что Администрация Сайта не несет какой-либо ответственности и не имеет каких-либо обязательств в связи с такой рекламой.</p>
                    <h5 class="bold">3. Прочие условия</h5>
                    <p>3.1. Все возможные споры, вытекающие из настоящего Соглашения или связанные с ним, подлежат разрешению в соответствии с действующим законодательством Российской Федерации.</p>
                    <p>3.2. Ничто в Соглашении не может пониматься как установление между Пользователем и Администрации Сайта агентских отношений, отношений товарищества, отношений по совместной деятельности, отношений личного найма, либо каких-то иных отношений, прямо не предусмотренных Соглашением.</p>
                    <p>3.3. Признание судом какого-либо положения Соглашения недействительным или не подлежащим принудительному исполнению не влечет недействительности иных положений Соглашения.</p>
                    <p>3.4. Бездействие со стороны Администрации Сайта в случае нарушения кем-либо из Пользователей положений Соглашения не лишает Администрацию Сайта права предпринять позднее соответствующие действия в защиту своих интересов и защиту авторских прав на охраняемые в соответствии с законодательством материалы Сайта.</p>
                    <h5 class="bold">4. Размещение объявлений</h5>
                    <p>4.1. Подавайте объявление в правильную рубрику<br>Текст объявления должен соответствовать рубрике. Не стоит, к примеру, подавать объявление о продаже собаки в раздел «кошки». Подобные нарушения будут пресекаться путем удаления объявления.</p>
                    <p>4.2. Указывайте реальную информацию<br>Заполняйте поля форм подачи достоверной информацией согласно их назначения. В противном случае часть информации может быть не опубликована.</p>
                    <p>4.3. Не продавайте запрещенные товары или услуги<br>При подаче объявления придерживайтесь законов РK, морально-этических норм и здравого смысла.<br>А также не подавайте объявлений о продаже оружия (в том числе реплик, макетов и услуг связанных с оружием),  продукции секс-индустрии, финансовых пирамидах, азартных игр, гаданий, предсказаний и т.д.</p>
                    <p>4.4. Фотографии должны соответствовать тексту объявления<br>Не загружайте изображения с информацией рекламного характера: водяные знаки (watermark), адреса сайтов, телефоны, «праздничные» оформления и пр. — такие фотографии будут удаляться.</p>
                    <p>4.5. Пишите объявления правильно<br>Большое количество заглавных букв в тексте объявления, а также translit — не допускается. Объявления принимаются на русском языке.<br>В заголовке объявления также запрещается использовать слова «продам», «срочно», «внимание», «акция». В заголовке объявления запрещается указывать цены и адреса. При нарушении этого правила ваше объявление может быть отредактировано перед публикацией.</p>
                    <p>4.6. Не дублируйте объявления<br>Схожие по содержанию объявления, где очевидно, что речь идёт об одном и том же предложении в одном регионе — не допускаются.</p>
                    <p>4.7. Средства не возвращаются<br>При удалении объявления, которое не соответствует настоящим правилам, средства за оказанные услуги не возвращаются.</p>
                    <h5 class="bold">5. Общение на сайте</h5>
                    <p>5.1. Все комментарии отражают мнения их авторов. Администрация сайта не несёт никакой ответственности за их содержание.</p>
                    <p>5.2. Язык общения, принятый в лентах комментариев, — русский. Сохранение или корректное отображение комментариев на других языках не гарантируется.</p>
                    <p>5.3. Запрещены: <br>
                        — комментарии, нарушающие требования действующего законодательства Российской Федерации; <br>
                        — грубые, нецензурные выражения (в том числе завуалированные), оскорбления в любой форме, в том числе по отношению к личности, либо национальности, либо расовой или религиозной принадлежности другого лица, либо выражения, явно и однозначно оскорбляющие оппонента или третьих лиц; <br>
                        — иные проявления религиозной, расовой, половой и прочей нетерпимости или дискриминации; <br>
                        — размещение информации рекламного характера; <br>
                        — флуд, флейм, спам; 
                    </p>
                    <p>5.4. Не гарантируется сохранение комментариев, содержащих: translit, большое количество ЗАГЛАВНЫХ букв, «падонкаффский» сленг.</p>
                    <p>5.5. Не допускается обсуждение действий администрации сайта и модераторов. Для ваших замечаний и предложений предусмотрена Связь с администрацией.</p>
                    <p>6. Условия предоставления платных услуг</p>
                    <p>6.1. Перед оплатой услуг абонент обязан ознакомиться с настоящими условиями предоставления услуг.</p>
                    <p>6.2. Отправка SMS-сообщения на короткие номера означает полное согласие и принятие условий предоставления услуг абонентом.</p>
                    <p>6.3. Коды услуг и тексты ответов в SMS-сообщениях, подтверждающих согласие на оказание услуг, необходимо набирать, используя только латинские буквы и цифры.</p>
                    <p>6.4. Услуги доступны для абонентов всех сотовых операторов РФ.</p>
                    <p>6.5. Абонент соглашается, что предоставление услуг может происходить с задержками, вызванными техническими сбоями, перегрузками в интернете и в сетях мобильной связи.</p>
                    <p>6.6. Абонент несёт полную ответственность за все результаты использования услуг.</p>
                    <p>6.7. Использование услуг без ознакомления с настоящими условиями предоставления услуг означает автоматическое принятие абонентом всех их положений.</p>
                    <p>6.8. Возврат денежных средств за оплаченные услуги не производится. В случае технического сбоя обращайтесь в службу поддержки, услуги будут оказаны вручную либо будет проведен возврат средств на личный счет на сайте. Возврат денежных средств при пополнении личного кабинета не производится.</p>
                    <p>Пользователь подтверждает, что ознакомлен со всеми пунктами настоящего Соглашения и безусловно принимает их.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}