{% load staticfiles %}{{ error }}
    {% for image in images %}
    <div class="preview" id="advert_{{ image.id }}">
        <span class="delete" data-id="{{ image.id }}">X</span>
        <img src="/media/{{ image.photo }}" alt="">
    </div>
    {% endfor %}