{% load staticfiles %}
<link href="{% static 'assets/plugins/bootstrap-select/dist/css/bootstrap-select.min.css' %}" rel="stylesheet">
<select name="county" id="id_county" class="selectpicker col-md-8 p-0" data-live-search="true" data-style="btn-white">
    <option value="">Выберите район (необязательно)</option>
    {% for m in county %}
    <option value="{{ m.id }}">{{ m.name }}</option>
    {% empty %}
        <option value="">В этом регионе нет районов</option>
    {% endfor %}
</select>