<select name="metro" id="id_metro" class="selectpicker col-md-8 p-0" data-live-search="true" data-style="btn-white">
    <option value="">Выберите метро (необязательно)</option>
    {% for m in metro %}
    <option value="{{ m.id }}">{{ m.name }}</option>
    {% empty %}
        <option value="">В этом регионе нет метро</option>
    {% endfor %}
</select>
