{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="w1-verification" content="122731485741"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="yandex-verification" content="0da4f0b97b1eceeb" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>{% block head_title %}{% endblock %}</title>
    <link href="{% static 'assets/plugins/select2/select2.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/core.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/components.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/pages.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/responsive.css' %}" rel="stylesheet">
    <link href="{% static 'assets/plugins/sweetalert/dist/sweetalert.css' %}" rel="stylesheet">
    <link href="{% static 'assets/plugins/animate.less/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/less/icons/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/less/icons/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/less/icons/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/less/icons/themify-icons/themify-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/less/icons/weather-icons/css/weather-icons.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    {% block styles %}{% endblock %}
    <link href="{% static 'assets/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css' %}"
          rel="stylesheet">
    <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    <script src="{% static 'assets/js/modernizr.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'js/loader.js' %}"></script>

</head>
<body>


<nav class="topbar">
    <!-- Button mobile view to collapse sidebar menu -->
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- ADD BUTTON -->
            <a class="add-ads" href="{% url 'advert_create' %}" title="Подать объявление"><i
                    class="ti-plus waves-effect waves-light"></i></a>
            <!-- LOGO -->
            <div class="topbar-left">
                <div class="text-center">
                    <a href="{% url 'home' %}" class="logo">
                        <img src="{% static 'images/logo-bdk (1).png' %}" alt="Логотип Biznesdesk.ru">
                    </a>
                </div>
            </div>
            <div class="pull-left button-menu-hidden">
                <button class="button-menu-mobile open-left">
                    <i class="ion-navicon"></i>
                </button>
                <span class="clearfix"></span>
            </div>
            <div class="show-search-button show-xs">
                <span class="btn my-round-btn btn-inverse btn-rounded"><i class="fa fa-search searchclosebtn"></i></span>
            </div>
            <div class="form-wrapper">
                <form role="search" class="app-search">
                    <input type="search" placeholder="Поиск..." maxlength="70" class="form-control my-search">
                    <a href=""><i class="fa fa-search"></i></a>
                </form>
            </div>
            <div class="search_result"></div>
            <ul class="nav navbar-nav navbar-right pull-right">
                {% if not user.is_authenticated %}
                    <li>
                        <a href="{% url 'account_login' %}" class="waves-effect waves-light sing-in"><i
                                class="icon-user m-r-5"></i>Войти</a>
                    </li>
                {% else %}
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropdown-toggle profile" data-toggle="dropdown"
                           aria-expanded="true"><span class="img-circle"
                                                      style="background:url('{% if user.profile.photo %}/media/{{ user.profile.photo }}{% else %}{% static 'images/user_white.png' %}{% endif %}') no-repeat center;background-size:cover"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'profile:general' %}"><i
                                    class="ti-user m-r-5"></i> {{ user.first_name }} {{ user.last_name }}</a></li>
                            <li><a href="#!" data-toggle="modal" data-target="#up_your_balance"><i
                                    class='fa fa-rouble m-r-10'></i>
                                Пополнить баланс</a>
                            </li>
                            <li><a href="javascript:void(0)" id="sa-warning"><i class="ti-power-off m-r-5"></i>
                                Выйти</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
            <!--/.nav-collapse -->
        </div>
    </div>
</nav>
<div id="up_your_balance" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content p-0 b-0">
            <div class="panel panel-color panel-success">
                <div class="panel-heading">
                    <button type="button" class="close m-t-5" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 class="panel-title"><i class='fa fa-rouble'></i> Пополнить баланс:</h3>
                </div>
                <div class="panel-body">
                    <div class='about-info-p m-b-0'>
                        <form action="https://wl.walletone.com/checkout/checkout/Index" method="post"
                              id="balance_fill_up">
                            <input type="hidden" name="WMI_MERCHANT_ID" value="122731485741">
                            <input type="hidden" name="WMI_CURRENCY_ID" value="643">
                            <input type="hidden" name="WMI_DESCRIPTION" value="Пополнение баланса {{ user.username }}">
                            <input type="hidden" name="WMI_SUCCESS_URL"
                                   value="http://{{ request.META.HTTP_HOST }}{% url 'success' %}">
                            <input type="hidden" name="WMI_FAIL_URL"
                                   value="http://{{ request.META.HTTP_HOST }}{% url 'fail' %}">
                            <input type="hidden" name="WMI_SIGNATURE">
                            <div class='form-group'>
                                <input id='up_balance' style='display:block' type='number' min="100" max="1000000" value="100" required aria-expanded='true'
                                       name='WMI_PAYMENT_AMOUNT' placeholder="Введите сумму (руб)">
                            </div>
                            <div class='align-center'>
                                <button class='btn btn-default payment_confirm' type='button'>Пополнить</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% block content %}{% endblock %}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="col-md-4">
                    <div class="sitemap-wrapper">
                        <h5><i class="fa fa-sitemap"></i>Карта сайта</h5>
                        <ul class="list-unstyled">
                            <li><a href="{% url 'home' %}">Главная</a></li>
                            <li><a href="{% url 'advert_list' %}">Объявления</a></li>
                            <li><a href="{% url 'shop_list' %}">Магазины</a></li>
                            <li><a href="{% url 'favorite_view' %}">Избранное</a></li>
                            <li><a href="{% url 'terms' %}">Соглашение</a></li>
                            <li><a href="{% url 'advertising' %}">Реклама на сайте</a></li>
                            <li><a href="{% url 'contacts' %}">Контакты</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="sitemap-wrapper">
                        <h5><i class="ion-ios7-people"></i> Пользователи</h5>
                        <ul class="list-unstyled">
                            <li><a href="{% url 'account_signup' %}">Регистрация</a></li>
                            <li><a href="{% url 'account_login' %}">Войти</a></li>
                            <li><a href="

                                    {% if user.is_authenticated %}{% url 'profile:general' %}{% else %}javascript:void(0){% endif %}">Личный
                                кабинет</a></li>
                            <li><a href="">Разместить объявление</a></li>
                            <li><a href="">Создать магазин</a></li>
                            {% if user.is_authenticated %}
                                <li>
                                    <form method="post" action="/account/logout/">
                                        {% csrf_token %}
                                        <button type="submit"
                                                style="border:none;background:transparent;margin-left:-5px;margin-top:5px">
                                            Выйти
                                        </button>
                                    </form>
                                </li>{% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <hr style="margin: 10px 0; border-top: 1px solid #4c5667;">
                <span>&copy; Copyright 2016 год BiznesDesk.ru. Все права защищены. <br>
                    Предоставленные данные на сайте имеют информационный характер и не являются публичной офертой.
                </span>
            </div>
        </div>
    </div>
</footer>
<!-- jQuery  -->
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/detect.js' %}"></script>
<script src="{% static 'assets/js/fastclick.js' %}"></script>
<script src="{% static 'assets/js/jquery.slimscroll.js' %}"></script>
<script src="{% static 'assets/js/jquery.blockUI.js' %}"></script>
<script src="{% static 'assets/js/waves.js' %}"></script>
<script src="{% static 'assets/js/wow.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.nicescroll.js' %}"></script>
<script src="{% static 'assets/js/jquery.scrollTo.min.js' %}"></script>

<script src="{% static 'assets/plugins/jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static 'assets/plugins/select2/select2.min.js' %}"></script>

<!-- BEGIN PAGE SCRIPTS -->
<script src="{% static 'assets/plugins/sweetalert/dist/sweetalert.min.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js' %}"></script>
{% block scripts %}{% endblock %}

<script src="{% static 'assets/js/jquery.core.js' %}"></script>
<script src="{% static 'assets/js/jquery.app.js' %}"></script>
{% if messages %}
    {% for message in messages %}
        <script src="{% static 'assets/plugins/notifyjs/dist/notify.min.js' %}"></script>
        <script src="{% static 'assets/plugins/notifications/notify-metro.js' %}"></script>
        <script>
            $.Notification.notify('success', 'top left', '{{ message }}');
        </script>
    {% endfor %}
{% endif %}
<script>
    var resizefunc = [];
</script>
<script>
    //конец
    $('#sa-warning,#sa-warning2').click(function () {
        swal({
            title: "Вы уверены, что хотите выйти?",
            text: "",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Да, я хочу выйти",
            closeOnConfirm: false
        }, function () {
            $.ajax({
                type: 'POST',
                url: '{% url 'account_logout' %}',
                data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
                success: function () {
                    setTimeout(function () {
                        location.reload();
                    }, 1000)
                }
            });
            swal({
                title: "До скорых встреч!",
                type: "success",
                timer: 1500,
                showConfirmButton: false
            });
        });
    });
    $("#up_balance").TouchSpin({'step': 100, 'min': 100, 'max': 10000000, 'prefix': 'Рублей'});
    var $search_block = $('.search_result');
    var $search_field = $('.my-search');

    $search_field.focus(function() {
        $search_block.stop().slideDown();
        setClose();
    });

    function closeSearch() {
        $search_block.stop().slideUp(500,function() {
            $(this).html("<center><h2>Поиск объявлений</h2><h3>Введите запрос поиска и получите самые актуальные результаты!</h3></center>");
        });
        $('html, body').css({
            'overflow': 'auto',
            'height': 'auto'
        });
    }

    closeSearch();

    function setClose() {
        $search_block.append("<span class='ion-close-circled searchclosebtn closesearch'></span>")
        $(".searchclosebtn").click(function() {
            closeSearch();
        });
        $('html, body').css({
            'overflow': 'hidden',
            'height': '100%'
        });
    }
    

    $search_field.keyup(function () {
        var $value = $(this).val();

        if( $value.length > 0 ) {
            $search_block.stop().slideDown();
            $search_block.html("<div style='text-align:center;margin-bottom:15px;'><h3 style='margin:0px'>Результаты по запросу: " + $value + "</h3> <br><h4 style='margin:0px'>Кол-во результатов: <span class='resnum'>0</span></div><div class='searchsubresult'></div>");
            setClose();
            window.clearTimeout(timer);
            var timer = setTimeout(function () {
                $.ajax({
                    type: 'POST',
                    url: '{% url 'search' %}',
                    data: {'csrfmiddlewaretoken': '{{ csrf_token }}', 'data': $value},
                    success: function (data) {

                        $(".searchsubresult").html(data);

                        var resnum = $(".searchsubresult").find("div").size() - 1; //кол-во результатов
                        $(".resnum").html( resnum );

                        if( resnum == 0 ) $(".searchsubresult").html("<center>Ничего не найдено.</center>");

                    }
                })
            }, 300);

        } else {
            $('html, body').css({
                'overflow': 'auto',
                'height': 'auto'
            });
            closeSearch();
        }

    });
    $(document).click(function (event) {
        if ($(event.target).closest('.search_result', '.my-search').length) return;
        event.stopPropagation();
    });
    $(window).resize(function () {
        var hb = $(window).height();
        $('.search-result-inner').css({'max-height': hb - 150});
        $search_block.css({height: window.innerHeight - $(".navbar").height() });
    });
    $(window).trigger('resize');
    $('.payment_confirm').click(function(){
        var form = $('#balance_fill_up');
        if ($('#up_balance').val()) {
        $.ajax({
            type: 'POST',
            url: '{% url 'signature' %}',
            data: form.serialize(),
            success: function (data) {
                form.find('input[name=WMI_SIGNATURE]').val(data);
                form.submit()
            },
            error: function (data) {
                console.log(data)
            },
            processData: false
        })
            }
    });
    var form_wrapper = $('.form-wrapper');

    $('.show-search-button').click(function(){
       form_wrapper.toggleClass('active');
        if (form_wrapper.hasClass('active')){h = form_wrapper.height()} else {h = 0}
        $search_block.height(window.innerHeight - $(".navbar").height() - h - 20);
        $('.searchclosebtn').toggleClass('fa-search fa-close')
    });
</script>
<!-- Yandex.Metrika counter -->

<script type="text/javascript">

    (function (d, w, c) {

        (w[c] = w[c] || []).push(function() {

            try {

                w.yaCounter38709570 = new Ya.Metrika({

                    id:38709570,

                    clickmap:true,

                    trackLinks:true,

                    accurateTrackBounce:true,

                    webvisor:true

                });

            } catch(e) { }

        });



        var n = d.getElementsByTagName("script")[0],

            s = d.createElement("script"),

            f = function () { n.parentNode.insertBefore(s, n); };

        s.type = "text/javascript";

        s.async = true;

        s.src = "https://mc.yandex.ru/metrika/watch.js";



        if (w.opera == "[object Opera]") {

            d.addEventListener("DOMContentLoaded", f, false);

        } else { f(); }

    })(document, window, "yandex_metrika_callbacks");

</script>

<noscript><div><img src="https://mc.yandex.ru/watch/38709570" style="position:absolute; left:-9999px;" alt="" /></div></noscript>

<!-- /Yandex.Metrika counter -->
</body>
</html>
