<table>
    <tbody>
    <tr>
        <td>{{ text }} от <b>{{ name }}</b></td>
    </tr>
    <tr>
        <td>Почта: <b>{{ mail }}</b></td>
    </tr>
    <tr>
        <td>Текст сообщения:</td>
    </tr>
    <tr>
        <td>{{ message }}</td>
    </tr>
    </tbody>
</table>